<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('PlazoAccion')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'PLAZO_ACCION' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'EDITAR' | translate }}</span>
			</h2>
			<span flex></span>
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	

<form role="form" name="forma">
<md-content layout="column"  layour-align="center center"  >
    <md-list layout-margin class="md-whiteframe-z2" layout-align="center center"  >					
        <md-list-item >					
            <md-input-container flex >     
                <label>{{ 'NOMBRE' | translate }}</label>
                <input required  name="nombre" ng-model="dato.nombre" md-minlength="3" md-maxlength="255">
                <div ng-messages="forma.nombre.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                  <div ng-message="md-minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                  <div ng-message="md-maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                </div>
            </md-input-container>
        </md-list-item>
        <md-list-item>
			<md-input-container flex >     
            	<p>{{ 'TIPO' | translate }} : </p>
                	
                <md-radio-group ng-model="dato.tipo">
                  <md-radio-button value="d"> Día</md-radio-button>
                  <md-radio-button value="S"> Semana </md-radio-button>
                  <md-radio-button value="m"> Mes</md-radio-button>
                  <md-radio-button value="a"> Año </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </md-list-item>
		<md-list-item >					
            <md-input-container flex >     
                <label>{{ 'VALOR' | translate }}</label>
                <input type="number" step="any" required string-to-number  name="valor" ng-model="dato.valor" min="1" max="365">
                <div ng-messages="forma.valor.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                  <div ng-message="min">{{ 'CAMPO_MIN' | translate }} 1</div>
                  <div ng-message="max">{{ 'CAMPO_MAX' | translate }} 365</div>
                </div>
            </md-input-container>
        </md-list-item>	
	</md-list>
</md-content>	
</form>
</md-content></div>