<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right md-warn" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools" ng-init="ver('Accion')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'VER' | translate }}</span>
			</h2>
			<span flex></span>

		
			<span ng-include="'src/app/views/menu-opciones.html'"></span>

		</div>
	</md-toolbar>
	<md-content>
	
<div class="imprimir">
<md-content layour-align="center center"  >
	<md-list layout-margin layout-align="center center"  >	<md-list-item >	
        	<md-input-container flex >                                    
            	<label>ID</label>
                <input readonly  name="id" ng-model="dato.id" value="{{dato.id}}">
                    
            </md-input-container>					
            <md-input-container flex >                                    
            	<label>{{ 'NOMBRE' | translate }}</label>
                <input readonly  name="nombre" ng-model="dato.nombre" value="{{dato.nombre}}">
                    
            </md-input-container>
        </md-list-item>

        <md-list-item >						
            <md-input-container flex >     
            	<p>{{ 'TIPO_ACCION' | translate }} </p>
                	
                <md-radio-group ng-model="dato.tipo" value="{{dato.tipo}}">
                  <md-radio-button value="R"> {{ 'RESOLUTIVA' | translate }}</md-radio-button>
                  <md-radio-button value="S"> {{ 'SEGUIMIENTO' | translate }} </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </md-list-item>

        <md-list-item >						
            <md-input-container flex >                                    
            	<label>{{ 'CREADO' | translate }}</label>
                <input readonly  name="creadoAl" ng-model="dato.creadoAl" value="{{dato.creadoAl}}">
                    
            </md-input-container>
        						
            <md-input-container flex >                                    
            	<label>{{ 'MODIFICADO' | translate }}</label>
                <input readonly  name="modificadoAL" ng-model="dato.modificadoAl" value="{{dato.modificadoAl}}">
                    
            </md-input-container>
        </md-list-item>
        
   	</md-list>	
	
</md-content>
</div>
</md-content></div>