<md-toast class="md-bottom md-left" ng-show="!online" ng-include="'src/app/views/sin_conexion.html'"></md-toast>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right md-warn" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools" ng-init="ver('LugarVerificacion')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'EDITAR' | translate }}</span>
			</h2>
			<span flex></span>
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	

<form role="form" name="forma">
<md-content layout="column"  layour-align="center center"  >
    <md-list layout-margin  layout-align="center center"  >					
        <md-list-item >						
        	<md-input-container flex >      
                <label>{{ 'NOMBRE' | translate }}</label>
                <input required  name="nombre" ng-model="dato.nombre" minlength="3" maxlength="255">
                <div ng-messages="forma.nombre.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                  <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                  <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                </div>
        	</md-input-container>
    	</md-list-item>
	</md-list>
</md-content>
</form>	 
</md-content></div>