<md-toast class="md-bottom md-left" ng-show="!online" ng-include="'src/app/views/sin_conexion.html'"></md-toast>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<style>
    .md-sidenav-backdrop
    {
        position: fixed;
        top: 0;
    }
    .md-sidenav-right
    {
        position: fixed;        
    }
    .md-select-menu-container
    {
        z-index: 9999999999;
    }
</style>

<div layout="column" class="relative" layout-fill role="main">
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>Dashboard   </span>
			</h2>
			<span flex></span>		
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	
    <md-content flex >
		<div layout="column" layout-gt-lg="row"  layout-margin>
            <!-- inicio grafico seguimiento-->
            <md-content class="md-whiteframe-z2" flex fullscreen="isFullscreen"  ng-controller="gaugeRecursoController" id="gaugeRecursos">
                
                    <md-toolbar class="md-theme-light" md-theme="altTheme">
                        <div class="md-toolbar-tools">
                            <h2>
                                <span flex>{{ 'HALLAZGO_RECURSO' | translate}}</span>                                 
                            </h2> 
                            <span flex></span>
                            <span>
                                <md-button class="md-icon-button" aria-label="Opciones"  ng-click="toggleRightOpciones('gaugeRecurso');" id="gauge">
                                    <md-icon md-svg-src="perm-data-setting"></md-icon>
                                </md-button>                                                               
                                
                                <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-gauge')" id="max-gaugeRecurso">
                                    <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                                </md-button>
                            </span>
                        </div>
                    </md-toolbar>
                    
                    <md-content flex>                                                                                                                                                                    
                        <md-progress-linear  ng-if="gaugeRecurso" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear>
                        <div ng-show="datosOk" >                                
                            <div  style="width:{{tamano}}px; height: auto;" class="gauge" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
                            <ul class="tc-chart-js-legend"><li ng-repeat="item in indicadores"><span style="background-color:{{item.color}}"></span>{{item.indicador}}</li></ul>
                        </div>
                        <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>                                  
                    </md-content>
                    <md-sidenav layout="column" layout-fill class="md-sidenav-right md-whiteframe-z2" md-component-id="gaugeRecurso"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
            </md-content>
            <!-- fin grafico -->

            <!-- inicio grafico gauge-->
            <md-content class="md-whiteframe-z2" flex fullscreen="isFullscreen"  ng-controller="gaugeCalidadController" id="gaugeCalidad">                
                <md-toolbar class="md-theme-light" md-theme="altTheme">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span flex>{{ 'HALLAZGO_CALIDAD' | translate}}</span>                                 
                        </h2> 
                        <span flex></span>
                        <span>
                            <md-button class="md-icon-button" aria-label="Opciones"  ng-click="toggleRightOpciones('gaugeCalidad');">
                                <md-icon md-svg-src="perm-data-setting"></md-icon>
                            </md-button>                                                                
                            
                            <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-gauge')" id="max-gaugeCalidad">
                                <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                            </md-button>
                        </span>
                    </div>
                </md-toolbar>
                
                <md-content flex >                                                                                                                                                                    
                    <md-progress-linear  ng-if="gaugeCalidad" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear>    
                    <div ng-show="datosOk">                             
                        <div style="width:{{tamano}}px; height: auto;" class="gauge" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
                        <ul class="tc-chart-js-legend"><li ng-repeat="item in indicadores"><span style="background-color:{{item.color}}"></span>{{item.indicador}}</li></ul>       
                    </div>  
                    <div ng-show="!datosOk" layout="row" layout-align="center center">
                        <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                    </div>                         
                </md-content>
                <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="gaugeCalidad"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
            </md-content>
            <!-- fin grafico -->
        </div> 
        <div layout-margin layout="column" flex layout-gt-lg="row">
            <!-- inicio grafico Recurso-->           
            <md-content  class="md-whiteframe-z2" flex="49" ng-controller="recursoController" id="recurso">
                <div layout-fill fullscreen="isFullscreen" >
                    <md-toolbar class="md-theme-light" md-theme="altTheme">
                        <div class="md-toolbar-tools"> 
                            <h2>
                                <span flex>{{ 'RU_RECURSO' | translate}}</span>                             
                            </h2> 
                            <span flex></span>
                            <span>
                                <md-button class="md-icon-button" aria-label="info" ng-click="showAlert($event)" ng-if="verInfo" >
                                <md-icon md-svg-src="info"></md-icon>
                                </md-button>
                                
                                <md-button class="md-icon-button" aria-label="quitar" ng-click="quitarAlert()" >
                                <md-icon md-svg-src="{{ quitar ? 'error' : 'error-outline'}}"></md-icon>
                                </md-button>
                                
                                <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleRightOpciones('recurso');">
                                <md-icon md-svg-src="perm-data-setting"></md-icon>
                                </md-button>                                                                
                                
                                <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-Recurso')" id="max-Recurso">
                                <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                                </md-button>
                            </span>
                        </div>
                    </md-toolbar>
                                
                    <md-content layout-padding>                                                                                             
                        <md-progress-linear  ng-if="recurso" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 
                        <div style="width:{{ isFullscreen ? '100%' : tamano > 0 ? tamano+'px' : ''}}" ng-show="datosOk">                           
                            <canvas  tc-chartjs-bar chart-options="options" chart-data="data" auto-legend ng-click="chartClick($event)" chart="chart" id="chartChart"></canvas>                            
                        </div>    
                        <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>                                    
                    </md-content>   
                    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="recurso"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>  
                </div> 
                                                      
            </md-content>
            <!-- fin grafico -->
            
            <!-- inicio grafico calidad -->
            <md-content class="md-whiteframe-z2" flex ng-controller="calidadController" id="calidad">  
                <div layout-fill fullscreen="isFullscreen" >                             
                    <md-toolbar class="md-theme-light" md-theme="altTheme">
                        <div class="md-toolbar-tools">
                            <h2 >
                                <span flex>{{ 'RU_CALIDAD' | translate}}</span>                                 
                            </h2> 
                            <span flex></span>
                            <span>
                                <md-button class="md-icon-button" aria-label="info" ng-click="showAlert($event)" ng-if="verInfo" >
                                <md-icon md-svg-src="info"></md-icon>
                                </md-button>
                                
                                <md-button class="md-icon-button" aria-label="quitar" ng-click="quitarAlert()" >
                                <md-icon md-svg-src="{{ quitar ? 'error' : 'error-outline'}}"></md-icon>
                                </md-button>
                                
                                <md-button class="md-icon-button" aria-label="Opciones"  ng-click="toggleRightOpciones('calidad');">
                                <md-icon md-svg-src="perm-data-setting"></md-icon>
                                </md-button>                                                                
                                
                                <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-calidad')" id="max-calidad">
                                <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                                </md-button>                                                                
                            </span>
                        </div>
                    </md-toolbar>
                    
                    <md-content layout-padding>                                                                                                
                        <md-progress-linear  ng-if="calidad" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 
                        <div style="width:{{ isFullscreen ? '100%' : tamano > 0 ? tamano+'px' : ''}}" ng-show="datosOk">                                    
                            <canvas  tc-chartjs-bar chart-options="options" chart-data="data" auto-legend ng-click="chartClick($event)" chart="chart" id="chartChart"></canvas>
                        </div> 
                        <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>                                                  
                    </md-content>
                    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="calidad"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
                </div>
                
            </md-content>
            <!-- fin grafico -->  
        </div>
        
        <div layout="column" layout-gt-lg="row"  layout-margin>
            <!-- inicio grafico reporte x equipo pie-->
            <md-content class="md-whiteframe-z2" flex ng-controller="pieRecursoController"> 
                <div layout-fill fullscreen="isFullscreen">               
                    <md-toolbar class="md-theme-light" md-theme="altTheme">
                        <div class="md-toolbar-tools">
                            <h2>
                                <span flex>{{ 'REPORTE_X_EQUIPO' | translate}} {{ 'RECURSO' | translate}} </span>                                 
                            </h2> 
                            <span flex></span>
                            <span>
                                    <md-button class="md-icon-button" aria-label="Opciones"  ng-click="toggleRightOpciones('pieRecurso');" id="pieRecurso">
                                        <md-icon md-svg-src="perm-data-setting"></md-icon>
                                    </md-button>                                                                        
                                    
                                    <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-equipo')" id="max-equipo">
                                        <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                                    </md-button>
                                </span>
                        </div>
                    </md-toolbar>                
                    <md-content layout-padding>                                                                                                                                                                    
                        <md-progress-linear  ng-if="pieRecurso" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 
                        <div style="width:{{ isFullscreen ? '100%' : tamano > 0 ? tamano+'px' : ''}}" ng-show="datosOk"> 
                            <canvas tc-chartjs-pie width="400" chart-options="options" chart-data="data" auto-legend ng-click="chartClick($event)" chart="chart" id="chartChart"></canvas>
                        </div>  
                        <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>             
                    </md-content>
                    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="pieRecurso"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
                </div>
                
            </md-content>
            <!-- fin grafico -->
            
             <!-- inicio grafico reporte x equipo pie-->
            <md-content class="md-whiteframe-z2" flex ng-controller="pieCalidadController"> 
                <div layout-fill fullscreen="isFullscreen">               
                    <md-toolbar class="md-theme-light" md-theme="altTheme">
                        <div class="md-toolbar-tools">
                            <h2>
                                <span flex>{{ 'REPORTE_X_EQUIPO' | translate}} {{ 'CALIDAD' | translate}}</span>                                 
                            </h2> 
                            <span flex></span>
                            <span>
                                    <md-button class="md-icon-button" aria-label="Opciones"  ng-click="toggleRightOpciones('pieCalidad');" id="pieCalidad">
                                        <md-icon md-svg-src="perm-data-setting"></md-icon>
                                    </md-button>                                                                        
                                    
                                    <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-equipo')" id="max-equipo">
                                        <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                                    </md-button>
                                </span>
                        </div>
                    </md-toolbar>                
                    <md-content layout-padding>                                                                                                                                                                    
                        <md-progress-linear  ng-if="pieCalidad" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 
                        <div style="width:{{ isFullscreen ? '100%' : tamano > 0 ? tamano+'px' : ''}}" ng-show="datosOk"> 
                            <canvas tc-chartjs-pie width="400" chart-options="options" chart-data="data" auto-legend ng-click="chartClick($event)" chart="chart" id="chartChart"></canvas>
                        </div>  
                        <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>             
                    </md-content>
                    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="pieCalidad"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
                </div>
                
            </md-content>
            <!-- fin grafico -->
        
         	
            
        </div>
        
        <div layout="column" layout-gt-lg="row"  layout-margin>
            
            <!-- inicio grafico alertas-->
            <md-content class="md-whiteframe-z2" flex fullscreen="isFullscreen" ng-controller="alertaRecursoController" id="alertaRecurso">                
                <md-toolbar class="md-theme-light" md-theme="altTheme">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span flex>{{ 'INDICADOR_ALERTA' | translate}} {{ 'RECURSO' | translate}}</span>                                 
                        </h2> 
                        <span flex></span>
                        <span>
                                <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleRightOpciones('alertaRecurso');">
                                <md-icon md-svg-src="perm-data-setting"></md-icon>
                            </md-button>                                                                
                            
                            <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-alerta')" id="max-alerta">
                                <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                            </md-button>
                        </span>
                    </div>
                </md-toolbar>
                
                <md-content flex>                                                                                                                                                                   
                    <md-progress-linear  ng-if="alertaRecurso" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 	
                    <md-data-table-container ng-show="datosOk">
                        <table md-data-table md-progress="datos">
                            <thead md-order="query.order" md-trigger="onOrderChange">
                                <tr>
                                    <th name="{{ 'CODIGO' | translate }}"></th>
                                    <th name="{{ 'INDICADOR' | translate }}"></th>
                                    <th name="{{ 'PORCENTAJE' | translate }}"></th>
                                </tr>
                            </thead>
                        <tbody>                                            
                            <tr ng-repeat="value in dato">
                                <td>{{ value.codigo }}</td>							
                                <td>{{ value.nombre }}</td>
                                <td>
                                    <div class="progress" >
                                    <div class="progress-bar progress-bar-striped active progress-bar-default" role="progressbar"
                                    aria-valuenow="{{ value.porcentaje }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ value.porcentaje }}%; background:{{ value.color }}">
                                        {{ value.porcentaje }}%
                                    </div></div>
                                </td>		             
                            </tr>
                        </tbody>
                        </table>
                    </md-data-table-container>
                    <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>  
                    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="alertaRecurso"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
                </md-content>
                
            </md-content>
            <!-- fin grafico -->
            
            <!-- inicio grafico alertas-->
            <md-content class="md-whiteframe-z2" flex fullscreen="isFullscreen" ng-controller="alertaCalidadController" id="alertaCalidad">                
                <md-toolbar class="md-theme-light" md-theme="altTheme">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span flex>{{ 'INDICADOR_ALERTA' | translate}} {{ 'CALIDAD' | translate}}</span>                                 
                        </h2> 
                        <span flex></span>
                        <span>
                                <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleRightOpciones('alertaCalidad');">
                                <md-icon md-svg-src="perm-data-setting"></md-icon>
                            </md-button>                                                                
                            
                            <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-alerta')" id="max-alerta">
                                <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                            </md-button>
                        </span>
                    </div>
                </md-toolbar>
                
                <md-content flex>                                                                                                                                                                   
                    <md-progress-linear  ng-if="alertaCalidad" style="position:absolute; top:-5px; left:0px;" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 	
                    <md-data-table-container ng-show="datosOk">
                        <table md-data-table md-progress="datos">
                            <thead md-order="query.order" md-trigger="onOrderChange">
                                <tr>
                                    <th name="{{ 'CODIGO' | translate }}"></th>
                                    <th name="{{ 'INDICADOR' | translate }}"></th>
                                    <th name="{{ 'PORCENTAJE' | translate }}"></th>
                                </tr>
                            </thead>
                        <tbody>                                            
                            <tr ng-repeat="value in dato">
                                <td>{{ value.codigo }}</td>							
                                <td>{{ value.nombre }}</td>
                                <td>
                                    <div class="progress" >
                                    <div class="progress-bar progress-bar-striped active progress-bar-default" role="progressbar"
                                    aria-valuenow="{{ value.porcentaje }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ value.porcentaje }}%; background:{{ value.color }}">
                                        {{ value.porcentaje }}%
                                    </div></div>
                                </td>		             
                            </tr>
                        </tbody>
                        </table>
                    </md-data-table-container>
                    <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>  
                    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="alertaCalidad"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
                </md-content>
                
            </md-content>
            <!-- fin grafico -->
        </div>
                
            
        <div layout="column" layout-gt-lg="row"  layout-margin>               
            <!-- inicio grafico reporte global-->
            <md-content class="md-whiteframe-z2" flex fullscreen="isFullscreen" ng-controller="globalRecursoController" id="globalRecurso">                
                <md-toolbar class="md-theme-light" md-theme="altTheme">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span flex>Top {{filtro.top}} {{ 'DE' | translate}} {{ 'RECURSO' | translate}}</span>                                 
                        </h2> 
                        <span flex></span>
                        <span>
                            <md-button class="md-icon-button" aria-label="Opciones"  ng-click="toggleRightOpciones('globalRecurso');">
                                <md-icon md-svg-src="perm-data-setting"></md-icon>
                            </md-button>                                                               
                            
                            <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-globalRecurso')" id="max-globalRecurso">
                                <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                            </md-button>
                        </span>
                    </div>
                </md-toolbar>
                    
                <md-content flex>                                                                                                                                                                    
                    <md-progress-linear  ng-if="globalRecurso" style="position:absolute; top:-5px; left:0px; z-index:99" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 
                    
                    <md-content >           
                        <div ng-repeat="(key, value) in dato" class="md-whiteframe-z2" ng-if="mostrarTop[key] && datosOk">                           
                            <md-data-table-toolbar >
                                <h2 class="md-title">{{ key | translate }}</h2>                                
                            </md-data-table-toolbar>
                            <md-data-table-container>
                                <table md-data-table md-progress="indicadores"> 
                                    <thead md-order="query.order" md-trigger="onOrderChange">
                                    <tr>
                                        <th name="N°"></th>
                                        <th name="{{ 'CLUES' | translate}}"></th>
                                        <th name="{{ 'NOMBRE' | translate}}"></th>
                                        <th name="{{ 'PORCENTAJE' | translate}}"></th>
                                    </tr>
                                </thead>                                                   
                                    <tbody>
                                        <tr ng-repeat="item in value">  
                                            <td>{{$index+1}}</td>                         
                                            <td>{{ item.clues }}</td>   
                                            <td>{{ item.nombre }}</td>                                                              
                                            <td>{{ item.porcentaje }} %</td>                    
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container> 
                        </div>
                        <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>  
                    </md-content>
                </md-content>
                <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="globalRecurso"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
            </md-content>
            <!-- fin grafico -->   
            
            <!-- inicio grafico reporte global calidad-->
            <md-content class="md-whiteframe-z2" flex fullscreen="isFullscreen" ng-controller="globalCalidadController" id="globalCalidad">                
                <md-toolbar class="md-theme-light" md-theme="altTheme">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span flex>Top {{filtro.top}} {{ 'DE' | translate}} {{ 'CALIDAD' | translate}}</span>                                 
                        </h2> 
                        <span flex></span>
                        <span>
                            <md-button class="md-icon-button" aria-label="Opciones"  ng-click="toggleRightOpciones('globalCalidad');">
                                <md-icon md-svg-src="perm-data-setting"></md-icon>
                            </md-button>                                                               
                            
                            <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-globalCalidad')" id="max-globalCalidad">
                                <md-icon md-svg-src="{{!isFullscreen ? 'fullscreen' : 'fullscreen-exit'}}"></md-icon>
                            </md-button>
                        </span>
                    </div>
                </md-toolbar>
                    
                <md-content flex>                                                                                                                                                                    
                    <md-progress-linear  ng-if="globalCalidad" style="position:absolute; top:-5px; left:0px; z-index:99" class="md-accent"  md-theme="altTheme"  md-mode="indeterminate"></md-progress-linear> 
                    <md-content >           
                        <div ng-repeat="(key, value) in dato" class="md-whiteframe-z2" ng-if="mostrarTop[key] && datosOk">                           
                            <md-data-table-toolbar >
                                <h2 class="md-title">{{ key | translate }}</h2>                                
                            </md-data-table-toolbar>
                            <md-data-table-container>
                                <table md-data-table md-progress="indicadores"> 
                                    <thead md-order="query.order" md-trigger="onOrderChange">
                                    <tr>
                                        <th name="N°"></th>
                                        <th name="{{ 'CLUES' | translate}}"></th>
                                        <th name="{{ 'NOMBRE' | translate}}"></th>
                                        <th name="{{ 'PORCENTAJE' | translate}}"></th>
                                    </tr>
                                </thead>                                                   
                                    <tbody>
                                        <tr ng-repeat="item in value">  
                                            <td>{{$index+1}}</td>                         
                                            <td>{{ item.clues }}</td>   
                                            <td>{{ item.nombre }}</td>                                                              
                                            <td>{{ item.porcentaje }} %</td>                    
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container> 
                        </div>
                        <div ng-show="!datosOk" layout="row" layout-align="center center">
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>  
                    </md-content>
                </md-content>
                <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="globalCalidad"  ng-include="'src/dashboard/views/dialog.html'" ></md-sidenav>
            </md-content>
            <!-- fin grafico -->   
        </div> 

    </md-content>
</div>