<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" style="overflow:hidden">
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>Dashboard   </span>
			</h2>
			<span flex></span>		
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	
<md-content flex>
	<md-list layout="row" layout-wrap class="md-whiteframe-z1">
    
        
        	<!-- inicio grafico Recurso-->
            <md-content  layout="column"  layour-align="center center" flex-md="100" flex-sm="100" flex-lg="100" flex="{{isFullscreen ? 100 : 50}}" fullscreen="isFullscreen" ng-controller="RecursoController" id="RecursoDialog">
                <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="min-height:508px">
                
                    <md-toolbar class="md-theme-light">
                      <h2 class="md-toolbar-tools">
                        <span flex>{{ 'RU_RECURSO' | translate}}</span>                                 
                      </h2> 
                    </md-toolbar>
                    
                    <md-content>
                    
                        <div >
                            <md-content flex>
                                
                                    <span flex class="nav-barra-grafica">
                                        
                                

                                        <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleModal($event);">
                                            <md-icon md-svg-src="insert-chart"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Recargar" ng-click="recargar()">
                                            <md-icon md-svg-src="replay"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-Recurso')" id="max-Recurso">
                                            <md-icon md-svg-src="{{!isFullscreen ? 'zoom-in' : 'zoom-out'}}"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Regresar" id="regresar-Recurso" ng-click="regresar()" ng-if="contador>0">
                                            <md-icon md-svg-src="arrow-back"></md-icon>
                                        </md-button>
                                    </span>
                                
                                
                                <ol class="breadcrumb" style="margin-top: 0px;" ><li>Recursos </li><li ng-repeat="b in bread"> {{ b.label }}</li></ol>
                                <md-progress-linear  ng-if="recurso" style="top:-25px; left:0px;"  md-mode="indeterminate"></md-progress-linear>
	
          <div style="width:96%;margin-left:2%; max-height:80% !important;" > 
					<canvas  tc-chartjs-bar chart-options="options" chart-data="data" auto-legend ng-click="chartClick($event)" chart="chart"></canvas>
           </div>                     
                            </md-content>
                        </div>
                    </md-content>
                 </md-list>
            </md-content>
            <!-- fin grafico -->
            
            <!-- inicio grafico calidad -->
            <md-content  layout="column"  layour-align="center center" flex-md="100" flex-sm="100" flex-lg="100" flex="{{isFullscreen ? 100 : 50}}" fullscreen="isFullscreen" ng-controller="calidadController">
                <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="min-height: 508px;">
                
                    <md-toolbar class="md-theme-light">
                      <h2 class="md-toolbar-tools">
                        <span flex>{{ 'RU_CALIDAD' | translate}}</span>                                 
                      </h2> 
                    </md-toolbar>
                    
                    <md-content>
                    
                        <div >
                            <md-content flex>
                                
                                    <span flex class="nav-barra-grafica">
                                                                            
                                        <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleModal($event);">
                                            <md-icon md-svg-src="insert-chart"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Recargar" ng-click="recargar()">
                                            <md-icon md-svg-src="replay"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-calidad')" id="max-calidad">
                                            <md-icon md-svg-src="{{!isFullscreen ? 'zoom-in' : 'zoom-out'}}"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Regresar" id="regresar-calidad" ng-click="regresar()" ng-if="contador>1">
                                            <md-icon md-svg-src="arrow-back"></md-icon>
                                        </md-button>
                                    </span>
                                
                                
                                <ol class="breadcrumb" style="margin-top: 0px;" ><li>Calidad </li><li ng-repeat="b in bread"> {{ b.label }}</li></ol>
                                <md-progress-linear  ng-if="calidad" style="top:-25px; left:0px;"  md-mode="indeterminate"></md-progress-linear>

					<div style="width:96%;margin-left:2%; max-height:80% !important;" > 
					<canvas tc-chartjs-line chart-options="options" style="height:100%" chart-data="data" auto-legend ng-click="chartClick($event)" chart="chart"></canvas>
          </div>                     
						
                            </md-content>
                        </div>
                    </md-content>
                 </md-list>
            </md-content>
            <!-- fin grafico -->
            
            <!-- inicio grafico reporte x equipo pie-->
            <md-content  layout="column"  layour-align="center center" flex-md="100" flex-sm="100" flex-lg="100" flex="{{isFullscreen ? 100 : 50}}" fullscreen="isFullscreen" ng-controller="pieController">
                <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="min-height:508px">
                
                    <md-toolbar class="md-theme-light">
                      <h2 class="md-toolbar-tools">
                        <span flex>{{ 'REPORTE_X_EQUIPO' | translate}}</span>                                 
                      </h2> 
                    </md-toolbar>
                    
                    <md-content>
                        <div >
                            <md-content flex>
                                
                                    <span flex class="nav-barra-grafica">
                                        <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleModal($event);">
                                            <md-icon md-svg-src="insert-chart"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Recargar" ng-click="recargar()">
                                            <md-icon md-svg-src="replay"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-equipo')" id="max-equipo">
                                            <md-icon md-svg-src="{{!isFullscreen ? 'zoom-in' : 'zoom-out'}}"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Regresar" id="regresar-equipo" ng-click="regresar()" ng-if="contador>1">
                                            <md-icon md-svg-src="arrow-back"></md-icon>
                                        </md-button>
                                    </span>
                                
                                
                                <ol class="breadcrumb" style="margin-top: 0px;" ><li ng-repeat="b in bread"> {{ b.label }}</li></ol>
                                <md-progress-linear  ng-if="pie" style="top:-25px; left:0px;"  md-mode="indeterminate"></md-progress-linear>

								<div style="width:96%;margin-left:2%; max-height:80% !important;" > 
								<canvas tc-chartjs-pie width="400" chart-options="options" chart-data="data" auto-legend ng-click="chartClick($event)" chart="chart"></canvas>
                </div>             
                            </md-content>
                        </div>
                    </md-content>
                 </md-list>
            </md-content>
            <!-- fin grafico -->
        
         	
            <!-- inicio grafico alertas-->
            <md-content  layout="column"  layour-align="center center" flex-md="100" flex-sm="100" flex-lg="100" flex="{{isFullscreen ? 100 : 50}}" fullscreen="isFullscreen" ng-controller="alertaController">
                <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="min-height:508px; {{ isFullscreen ? '' : 'max-height:760px' }} ; overflow:auto;">
                
                    <md-toolbar class="md-theme-light">
                      <h2 class="md-toolbar-tools">
                        <span flex>{{ 'INDICADOR_ALERTA' | translate}}</span>                                 
                      </h2> 
                    </md-toolbar>
                    
                    <md-content>
                        <div >
                            <md-content flex>
                                
                                    <span flex class="nav-barra-grafica">
                                         <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleModal($event);">
                                            <md-icon md-svg-src="insert-chart"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Recargar" ng-click="recargar()">
                                            <md-icon md-svg-src="replay"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-alerta')" id="max-alerta">
                                            <md-icon md-svg-src="{{!isFullscreen ? 'zoom-in' : 'zoom-out'}}"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Regresar" id="regresar-alerta" ng-click="regresar()" ng-if="contador>1">
                                            <md-icon md-svg-src="arrow-back"></md-icon>
                                        </md-button>
                                    </span>
                                
                                
                                <ol class="breadcrumb" style="margin-top: 0px;" ><li ng-repeat="b in bread"> {{ b.label }}</li></ol>
                                <md-progress-linear  ng-if="alerta" style="top:-25px; left:0px;"  md-mode="indeterminate"></md-progress-linear>

					<md-content  class="md-whiteframe-z1" style="width:98%; max-height:50%; overflow:auto; margin-left:1%; ">		
					<md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th name="{{ 'INDICADOR' | translate }}"></th>
                        <th name="{{ 'VALOR' | translate }}"></th>
                    </tr>
                    </thead>
    <tbody>
                    
                    <tr ng-repeat="value in dato">							
                        <td>{{ value.codigo }} | {{ value.nombre }}</td>
                        <td>
                        	<div class="progress" >
                              <div class="progress-bar progress-bar-striped active progress-bar-default" role="progressbar"
                              aria-valuenow="{{ value.porcentaje }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ value.porcentaje }}%; background:{{ value.color }}">
                                {{ value.porcentaje }}%
                              </div></div>
                        </td>		             
                     </tr>
    </tbody>
  </table>
</md-data-table-container>
                       </md-content>         
                            </md-content>
                        </div>
                    </md-content>
                 </md-list>
            </md-content>
            <!-- fin grafico -->
            
            
            <!-- inicio grafico seguimiento-->
            <md-content  layout="column"  layour-align="center center" flex-md="100" flex-sm="100" flex-lg="100" flex="{{isFullscreen ? 100 : 50}}" fullscreen="isFullscreen" ng-controller="gaugeController">
                <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="min-height:508px">
                
                    <md-toolbar class="md-theme-light">
                      <h2 class="md-toolbar-tools">
                        <span flex>{{ 'REPORTE_SEGUIMIENTO' | translate}}</span>                                 
                      </h2> 
                    </md-toolbar>
                    
                    <md-content>
                        <div >
                            <md-content flex>
                                
                                    <span flex class="nav-barra-grafica">
                                        <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleModal($event);">
                                            <md-icon md-svg-src="insert-chart"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Recargar" ng-click="recargar()">
                                            <md-icon md-svg-src="replay"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-gauge')" id="max-gauge">
                                            <md-icon md-svg-src="{{!isFullscreen ? 'zoom-in' : 'zoom-out'}}"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Regresar" id="regresar-gauge" ng-click="regresar()" ng-if="contador>1">
                                            <md-icon md-svg-src="arrow-back"></md-icon>
                                        </md-button>
                                    </span>
                                
                                
                                <ol class="breadcrumb" style="margin-top: 0px;" ><li ng-repeat="b in bread"> {{ b.label }}</li></ol>
                                <md-progress-linear  ng-if="gauge" style="top:-25px; left:0px;"  md-mode="indeterminate"></md-progress-linear>

						<md-content  class="md-whiteframe-z1" style="width:98%; {{ isFullscreen ? '' : 'max-height:250px' }} ; overflow:auto; margin-left:1%; ">		
					<md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th name="{{ 'INDICADOR' | translate }}"></th>
						<th name="{{ 'DESCRIPCION' | translate }}"></th>
						<th name="{{ 'TOTAL_EXP' | translate }}"></th>
					
                    </tr>
                    </thead>
    <tbody>
                    <tr ng-repeat="value in dato">							
                        <td>{{ value.codigo }} | {{ value.nombre }}</td>	
						<td>{{ tipo }}</td>	
						<td>{{ value.total }}</td>	
					</tr>
    </tbody>
  </table>
</md-data-table-container>
                		</md-content>
					
                    
                    
					
                                
                            </md-content>
                        </div>
                    </md-content>
                 </md-list>
            </md-content>
            <!-- fin grafico -->

            <!-- inicio grafico gauge-->
            <md-content  layout="column"  layour-align="center center" flex-md="100" flex-sm="100" flex-lg="100" flex="{{isFullscreen ? 100 : 50}}" fullscreen="isFullscreen" ng-controller="gaugeController">
                <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="min-height:508px">
                
                    <md-toolbar class="md-theme-light">
                      <h2 class="md-toolbar-tools">
                        <span flex>{{ 'SEGUIMIENTO_HALLAZGO' | translate}}</span>                                 
                      </h2> 
                    </md-toolbar>
                    
                    <md-content>
                        <div >
                            <md-content flex>
                                
                                    <span flex class="nav-barra-grafica">
                                        <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleModal($event);">
                                            <md-icon md-svg-src="insert-chart"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Recargar" ng-click="recargar()">
                                            <md-icon md-svg-src="replay"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-gauge')" id="max-gauge">
                                            <md-icon md-svg-src="{{!isFullscreen ? 'zoom-in' : 'zoom-out'}}"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Regresar" id="regresar-gauge" ng-click="regresar()" ng-if="contador>1">
                                            <md-icon md-svg-src="arrow-back"></md-icon>
                                        </md-button>
                                    </span>
                                
                                
                                <ol class="breadcrumb" style="margin-top: 0px;" ><li ng-repeat="b in bread"> {{ b.label }}</li></ol>
                                <md-progress-linear  ng-if="gauge" style="top:-25px; left:0px;"  md-mode="indeterminate"></md-progress-linear>

               
                    
                    <div width="240" class="gauge" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
                                
                            </md-content>
                        </div>
                    </md-content>
                 </md-list>
            </md-content>
            <!-- fin grafico -->
            
            <!-- inicio grafico reporte global-->
            <md-content  layout="column"  layour-align="center center" flex-md="100" flex-sm="100" flex-lg="100" flex="100" fullscreen="isFullscreen" ng-controller="globalController">
                <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="min-height:508px; {{ isFullscreen ? '' : 'max-height:760px' }} ; overflow:auto;">
                
                    <md-toolbar class="md-theme-light">
                      <h2 class="md-toolbar-tools">
                        <span flex>{{ 'REPORTE_GLOBAL' | translate}}</span>                                 
                      </h2> 
                    </md-toolbar>
                    
                    <md-content>
                        <div >
                            <md-content flex>
                                
                                    <span flex class="nav-barra-grafica">
                                        <md-button class="md-icon-button" aria-label="Opciones" ng-click="toggleModal($event);">
                                            <md-icon md-svg-src="insert-chart"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Recargar" ng-click="recargar()">
                                            <md-icon md-svg-src="replay"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Máximizar" ng-click="toggleFullScreen('max-global')" id="max-global">
                                            <md-icon md-svg-src="{{!isFullscreen ? 'zoom-in' : 'zoom-out'}}"></md-icon>
                                        </md-button>
                                        
                                        <md-button class="md-icon-button" aria-label="Regresar" id="regresar-global" ng-click="regresar()" ng-if="contador>1">
                                            <md-icon md-svg-src="arrow-back"></md-icon>
                                        </md-button>
                                    </span>
                                
                                
                                <ol class="breadcrumb" style="margin-top: 0px;" ><li>Calidad </li><li ng-repeat="b in bread"> {{ b.label }}</li></ol>
                                <md-progress-linear  ng-if="global" style="top:-25px; left:0px;"  md-mode="indeterminate"></md-progress-linear>

                    <md-content  class="md-whiteframe-z1" style="width:98%; max-height:50%; overflow:auto; margin-left:1%; ">           
                    <md-data-table-container>
  <table md-data-table md-progress="indicadores">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th name="Unidad"></th>
                        <td ng-repeat="v in indicadores" style=" font-size: 12px; color: rgba(0,0,0,.54);" width="10%" name="{{ v.codigo }}" >{{ v.codigo }}</td>
                    </tr>
                    </thead>
    <tbody>
                    <tr ng-repeat="(key, value) in dato">                           
                        <td>{{ key }}</td>  
                        <td ng-repeat="v in value" style="background-color:{{ v.color }}"><span style="color:white">{{ v.porcentaje }}%</span>
                        </td>                    
                 </tr>
    </tbody>
  </table>
</md-data-table-container>
                    </md-content>
                            </md-content>
                        </div>
                    </md-content>
                 </md-list>
            </md-content>
            <!-- fin grafico -->
      
  </md-list>
</md-content>
</div>