<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools" ng-init="opciones('Indicador','indicadores');opciones('Cone','cones');opciones('LugarVerificacion','lugares');index('Criterio');">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'NUEVO' | translate }}</span>
			</h2>
			<span flex></span>
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	
<form role="form" name="forma" >
	<md-content layout="column"  layour-align="center center"  >
    <md-list layout-margin class="md-whiteframe-z2" layout-align="center center"  >	
		<md-list-item >					
            <md-input-container flex >     
                <label>{{ 'NOMBRE' | translate }}</label>
                <input required  name="nombre" ng-model="dato.nombre" minlength="3" maxlength="255">
                <div ng-messages="forma.nombre.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                  <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                  <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                </div>
            </md-input-container>
        </md-list-item>
		<md-list-item >					
            <md-container > 
                <label>
                {{ 'INDICADOR' | translate }} > Cone > {{ 'LUGAR-VERIFICACION' | translate }}
                </label>
            		
				<div class="tree">

                    <ul>
                        <li ng-repeat="i in options['indicadores']" class="parent_li" title="Abrir">
                        	<span ng-click="treeClick('indicador'+criterio.id+''+i.id);" class="principal" id="indicador{{ criterio.id }}{{i.id }}" >
                        		<md-icon md-svg-src="{{ !icono['indicador'+criterio.id+''+i.id] ? 'add' : 'remove'}}"></md-icon> 
                        
                        		<strong>{{ 'INDICADOR' | translate }}: </strong> {{ i.codigo }} | {{ i.nombre }}
                        	</span>
                        	<ul>			   
                        		<li ng-repeat="c in options['cones']" class="parent_li" title="Abrir" style="display: none;">
                        			<span ng-click="treeClick(criterio.id+''+i.id+''+c.id);">
                        				<md-icon md-svg-src="airline-seat-flat"></md-icon>  
                        				<input checklist-model="criterio.indicador[i.id].cone" checklist-value="i.id+','+c.id" ng-checked="che[i.id+','+c.id]" id="che{{i.id+'-'+c.id}}" type="checkbox" ng-click="treeClickCheck(i.id,0,'indicador'+criterio.id+''+i.id);"> 
                        				<strong>CONE: </strong> {{ c.nombre }}
                        			</span> 			  
                        		</li>
                        		<li class="parent_li" style="display: none;">				
                        
                        		<span>
                        		<select ng-options="item.id as item.nombre for item in options['lugares']" ng-model="criterio.indicador[i.id].lugar" ng-change="treeClickCheck(i.id,0,'indicador'+criterio.id+''+i.id);" name="LugarVerificacion[{{ i.id }}]" id="LugarVerificacion{{ i.id }}" style="border:none; background-color:transparent; width:100%">                        			
                        		</select>
                                </span>
                        </li>
                        </ul>
                        </li>    
                    </ul>

                </div>
            </md-container>
        </md-list-item>
    </md-list>
</md-content>				
</form>
<span ng-init="cargando = false;"></span> 
</md-content></div>