<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="index('Cone')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>Cone <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'LISTA' | translate }}</span>
			</h2>
			<span flex></span>		
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	
<div layout="row" >  
  <div layout-padding flex>
			<div layout="column" layout-fill style="padding-bottom: 2px;" ng-include="'src/app/views/busqueda-list.html'">
	 
	</div>
  
	<md-data-table
  table-card="{visible: tableCardIsEnabled, title: 'Lista Clues'}"
  selectable-rows="tableIsSelectable"
  alternate-headers="'contextual'"
  sortable-columns="false"
  delete-row-callback="deleteRowCallback(rows)">

    <md-data-table-header-row>
		 <md-data-table-column align-rule="left" hide-sm>ID</md-data-table-column>
			<md-data-table-column align-rule="left">{{ 'NOMBRE' | translate }}</md-data-table-column>
			<md-data-table-column align-rule="left" hide-sm hide-md>{{ 'CREADO' | translate }}</md-data-table-column>
			<md-data-table-column align-rule="left" hide-sm hide-md hide-lg>{{ 'MODIFICADO' | translate }}</md-data-table-column>
			<md-data-table-column align-rule="left"></md-data-table-column>
		  </md-data-table-header-row>
	
    <md-data-table-row table-row-id="dato.id" ng-repeat="dato in datos">
				 <md-data-table-cell html-content="htmlContent" hide-sm>{{ dato.id  }}</md-data-table-cell>
				 <md-data-table-cell html-content="htmlContent">{{ dato.nombre | uppercase }}</md-data-table-cell>
				 <md-data-table-cell html-content="htmlContent" hide-sm hide-md>{{ dato.creadoAl }}</md-data-table-cell>
				 <md-data-table-cell html-content="htmlContent" hide-sm hide-md hide-lg>{{ dato.modificadoAl }}</md-data-table-cell>
				 <md-data-table-cell html-content="htmlContent">
					
					<section layout="row" layout-sm="column" layout-align="center center">
						
						<a url-modulo="ver?id={{ dato.id }}"><md-button class="md-fab md-mini  md-primary" aria-label="Ver">
							<md-icon md-svg-src="remove-red-eye"></md-icon>
    <md-tooltip>
    {{ 'VER' | translate }}
  </md-tooltip>
						</md-button></a>
						
						<a url-modulo="modificar?id={{ dato.id }}"><md-button class="md-fab md-mini md-primary" aria-label="Editar">
						  <md-icon md-svg-src="mode-edit" ></md-icon>
  <md-tooltip>
    {{ 'EDITAR' | translate }}
  </md-tooltip>
						</md-button></a>
						
						<md-button ng-click="borrar(dato.id, $index)" class="md-fab md-mini" aria-label="Eliminar">
						  <md-icon md-svg-src="delete" ></md-icon>
  <md-tooltip>
    {{ 'ELIMINAR' | translate }}
  </md-tooltip>
						</md-button>
						
					</section>
					
					</md-data-table-cell>
				 
			 </md-data-table-row>
</md-data-table>
	 
	 <div layout="column" layout-fill ng-include="'src/app/views/paginado-list.html'">
				  
		</div>
        </div>
</div>
</md-content></div>