<md-toast class="md-bottom md-left" ng-if="!online" ng-include="'src/app/views/sin_conexion.html'"></md-toast>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools" ng-init="index('Alerta')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'NUEVO' | translate }}</span>
			</h2>
			<span flex></span>
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	

<form role="form" name="forma">
<md-content layout="column" class="imprimir"  layour-align="center center"  >
	<md-list layout-margin layout-align="center center" >					
					
        <md-list-item >						
                <md-input-container flex >     <label>{{ 'NOMBRE' | translate }}</label>
                        <input required  name="nombre" ng-model="dato.nombre" minlength="3" maxlength="255">
                        <div ng-messages="forma.nombre.$error">
                          <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                          <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                          <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                        </div>
                </md-input-container>
            </md-list-item>

    
        <md-list-item >           
            <md-input-container flex >   
            <span style="background: {{ dato.color }}; display:block; height:25px; width:25px; position:absolute; margin-left:0px; border-radius: 5px; border: 1px #000 solid;"></span>  
              <label style="margin-top:-48px">{{ 'COLOR' | translate }}</label>
                <color-picker required ng-model="dato.color" color-picker-format="HEX" name="color" style="position:relative"></color-picker>
                <div ng-messages="forma.color.$error" style="margin-top:30px">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                </div>
            </md-input-container>
        </md-list-item>
       
     
		
   	</md-list>
</md-content>
</form>      
<span ng-init="cargando = false;"></span> 
</md-content></div>