<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('Usuario')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'USUARIO' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'VER' | translate }}</span>
			</h2>
			<span flex></span>
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	
	<md-content layout="column" class="imprimir"  layour-align="center center"  >
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
    		<md-content class="md-padding">
                <md-tabs md-dynamic-height md-border-bottom>
                  
                  <md-tab label="{{ 'DATOS_GENERALES' | translate }}">
                    <md-content class="md-padding">
                     
                      <md-list-item layout-wrap >	                                        
                        <md-input-container flex >     
                            <label>{{ 'NOMBRE' | translate }}</label>
                                <input readonly  name="nombre" ng-model="dato.nombres" md-minlength="3" md-maxlength="255">
                                <div ng-messages="forma.nombre.$error">
                                  <div ng-message="readonly">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                                  <div ng-message="md-minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                                  <div ng-message="md-maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                                </div>
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item layout-wrap >						
                        <md-input-container flex >     
                            <label>{{ 'APELLIDO_PATERNO' | translate }}</label>
                                <input readonly  name="apellidoPaterno" ng-model="dato.apellidoPaterno" md-minlength="3" md-maxlength="25" >
                                <div ng-messages="forma.apellidoPaterno.$error">
                                  <div ng-message="readonly">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                                  <div ng-message="md-minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                                  <div ng-message="md-maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                                </div>
                        </md-input-container>
                                        
                        <md-input-container flex >     
                            <label>{{ 'APELLIDO_MATERNO' | translate }}</label>
                                <input  name="apellidoMaterno" ng-model="dato.apellidoMaterno" readonly>
                                
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item>
                      	<md-input-container flex >     
                            <label>{{ 'CARGO' | translate }}</label>
                                <input  name="cargo" ng-model="dato.cargo" readonly>
                                
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item>
                      	<md-input-container flex >     
                            <label>{{ 'EMAIL' | translate }}</label>
                                <input name="email"  type="email" ng-model="dato.email" readonly>				
                                <div ng-messages="forma.email.$error" >
                                    <div ng-message="readonly">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                                    <div ng-message="email">{{ 'EMAIL_INVALIDO' | translate }}</div>
                                    <div ng-message="unique">{{ 'CORREO_YA_EXISTE' | translate }}</div>
                                </div>
                                
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item>
                      	<md-input-container flex >     
                            <label>{{ 'TELEFONO' | translate }}</label>
                                <input type="tel"  name="telefono" ng-model="dato.telefono" readonly>
                                
                        </md-input-container>
                      </md-list-item>
                      
                      
                      
                    </md-content>
                  </md-tab>
                  
                  <md-tab label="{{ 'PERMISO' | translate }}">
                     <md-content class="md-padding"  ng-init="permisoEditGrupo(); ">
                       
                    
                      <md-list-item ng-init="opciones('Grupo')">
                            <md-input-container flex >
                              <p flex="100">{{ 'TEXTO_1_USUARIO' | translate }}  {{ 'TEXTO_2_USUARIO' | translate }}</p>
                                                                            
                              <md-select flex="100" ng-model="dato.grupos" placeholder="{{ 'GRUPO' | translate }} " multiple="true" ng-change="permisoGrupo()">
                                  <md-option ng-value="item.id" ng-repeat="item in options">{{ item.name }}</md-option>
                              </md-select>
                                
                                
                          </md-input-container>
                            
                        </md-list-item>
                      
                        <md-list-item>
                        <md-input-container flex >
                        
                        
                        <section layout="row" layout-sm="column" >
                          <p flex="94">{{ 'DENEGAR_PERMISO' | translate }}</p>
                            <md-button flex="5" class="md-raised md-primary" type="button" id="btn-limpiar-permisos" ng-click="permisoGrupoDelete()">
                              <md-icon md-svg-icon="delete"></md-icon>
                              <md-tooltip>
                                {{ 'LIMPIAR_PERMISO' | translate }}
                              </md-tooltip>
                            </md-button>
                         </section>
                         
                         <md-tabs md-dynamic-height md-border-bottom ng-if="grupos.length">                  
                        <md-tab label="{{g.name}}" ng-repeat="g in grupos">
                            
                              
                                <div class="md-sidenav-left md-whiteframe-z2">
<md-data-table-container>
  <table md-data-table >
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                                        <th name="{{ 'MODULO' | translate}}"> </th>
                            <th name="{{ 'ACCION' | translate}}"></th>
                                    </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="m in modulos[g.id]">
                    <td width="20%">
                                          <section layout="row" layout-sm="column" >
                                            <md-button flex="100" ng-disabled="true" class="md-raised md-primary">{{ m.replace("Controller",'') }}</md-button>
                                            
                                            </section>
                                        </td>
                    <td>                       
                                            <section layout="row" layout-sm="column">
                                              <div  ng-repeat="a in acciones[m+g.id]">
                                              <md-checkbox aria-label="'{{ m+'.'+a }}'"
                                                  ng-model="dato.permissions[m+'.'+a]" 
                                                    ng-true-value="-1"
                                ng-false-value="1"   
                                                    ng-init="verificar[m+'.'+a]=(datos.indexOf(m+'.'+a)>-1 ) ? true : false" 
                                                    ng-checked="verificar[m+'.'+a]" ng-click="verificar[m+'.'+a]=!verificar[m+'.'+a]">
                                                  {{ a }} 
                                                </md-checkbox>
                                                </div>
                                            </section>
                    </td>
                  </tr>
    </tbody>
  </table>
</md-data-table-container>
                                
                             </div>   
                        </md-tab>
                         </md-tabs>
                    
                         </md-input-container>
                      </md-list-item
                      
                    ></md-content>
                  </md-tab>
                  
                  <md-tab label="{{ 'EQUIPO_ZONAL' | translate }}">
                    <md-content class="md-padding">
                      
                        
                         <md-list-item>
                        <md-input-container flex > 
                              <div class="alert alert-info"></div>
                                    <div class="md-sidenav-left md-whiteframe-z2">
                                    <p ng-if="dato.nivel==1"> {{ 'ESTATAL' | translate }}</p>
<md-data-table-container ng-if="dato.nivel!=1">
  <table md-data-table >
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th name="ID"></th>
                        <th name="{{ dato.nivel == 3 ? 'EQUIPO_ZONAL' : 'JURISDICCION' | translate }}"></th>
                        
                      </tr>
    </tbody>
                      <tbody>
      <tr md-auto-select ng-repeat="u in dato.usuariozona">
                        <td> {{ u.id }}</td>
                        <td> {{ u.nombre }} </td>
                     
                  </tr>
    </tbody>
  </table>
</md-data-table-container>
                
              
                            </md-input-container>
                         </md-list-item>
                    </md-content>
                  </md-tab>
                  <input ng-model="dato.nombre" type="hidden" id="id" name="id">
                </md-tabs>
              </md-content> 
									
			
		</md-list>
	</md-content>
  </md-content></div>