<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('Zona')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'EQUIPO_ZONAL' | translate}} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'VER' | translate }}</span>
			</h2>
			<span flex></span>
			
            <md-button hide-md hide-sm  aria-label="{{ 'PDF' | translate }}" imprimir-div=".imprimir">
              <md-icon md-svg-icon="print"></md-icon>
    			{{ 'PDF' | translate }}
            </md-button>
            
            <md-button hide-md hide-sm  aria-label="{{ 'ELIMINAR' | translate }}" ng-click="borrar()">
                <md-icon md-svg-icon="delete"></md-icon>
                {{ 'ELIMINAR' | translate }}
            </md-button>
			
		
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	<ol class="breadcrumb top-breadcrumb" >
	  <li><a href="/#/">Home</a></li>
  <li><a url-modulo="--" id="lista">{{ 'EQUIPO_ZONAL' | translate}}</a></li>
  <li class="active">{{ 'VER' | translate }}</li>
</ol>
<md-content layout="column" class="imprimir"  layour-align="center center"  >
	<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >					
		<md-list-item >	
        	<md-input-container flex >                                    
            	<label>ID</label>
                <input readonly  name="id" ng-model="dato.id" >
                    
            </md-input-container>					
            <md-input-container flex >                                    
            	<label>{{ 'NOMBRE' | translate }}</label>
                <input readonly  name="nombre" ng-model="dato.nombre" >
                    
            </md-input-container>
        </md-list-item>
		<md-list-item >						
            <md-input-container flex >                                    
            	<label>{{ 'CREADO' | translate }}</label>
                <input readonly  name="creadoAl" ng-model="dato.creadoAl" >
                    
            </md-input-container>
        						
            <md-input-container flex >                                    
            	<label>{{ 'MODIFICADO' | translate }}</label>
                <input readonly  name="modificadoAL" ng-model="dato.modificadoAl" >
                    
            </md-input-container>
        </md-list-item>
        
        <md-content class="md-padding" ng-init="existeUM=[]">
                    	<md-list-item>
                      	<md-input-container flex ng-init="dato.all=false;">
                        		<span ng-repeat="u in dato.usuarioclues" ng-init="dato.all=u.clues == null ? true : false;datoAll=u.clues == null ? true : false;" ng-if="u.clues==null"></span> 
                                <md-checkbox ng-model="dato.all" ng-true-value="true" ng-false-value="false" aria-label="{{ 'TODAS_UM' | translate }}" ng-checked="datoAll" >
                                    {{ 'TODAS_UM' | translate }}
                                </md-checkbox>
                            
                            </md-input-container>
                        </md-list-item>
                        
                         <md-list-item>
                      	<md-input-container flex > 
                            	<div class="alert alert-info"></div>
                                    <md-data-table
                                  table-card="{visible: tableCardIsEnabled, title: 'Lista Clues'}"
                                  selectable-rows="tableIsSelectable"
                                  alternate-headers="'contextual'"
                                  sortable-columns="true"
                                  delete-row-callback="deleteRowCallback(rows)">
                                
                                    <md-data-table-header-row>
												<md-data-table-column align-rule="left">CLUES</md-data-table-column>
												<md-data-table-column align-rule="left">nombre</md-data-table-column>
												<md-data-table-column align-rule="left">Jurisdicción</md-data-table-column>
												
											</md-data-table-header-row>
                                    		<md-data-table-row table-row-id="" ng-repeat="u in dato.usuarioclues" ng-if="u.clues!=null">
												<md-data-table-cell html-content="htmlContent"> {{ u.clues }}
												<span ng-model="dato.clues[$index]" ng-init="dato.clues[$index]=u.clues;existeUM[$index]=u.clues;"></span>
                                                </md-data-table-cell>
												<md-data-table-cell html-content="htmlContent"> {{ u.nombre }}</md-data-table-cell>
												<md-data-table-cell html-content="htmlContent"> {{ u.jurisdiccion }}</md-data-table-cell>
												
											</md-data-table-cell>
									</md-data-table-row>
								</md-data-table>
								
							
                            </md-input-container>
                         </md-list-item>
                    </md-content>
					
	</md-list>	
    
    			
</md-content> 
