<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('SysModulo')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'MODULO' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'VER' | translate }}</span>
			</h2>
			<span flex></span>	
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	
<md-content layout="column" class="imprimir"  layour-align="center center"  >
    <md-list layout-margin class="md-whiteframe-z2" layout-align="center center"  >					
        <md-list-item >					
                <md-input-container flex >     
                	<label>{{ 'NOMBRE' | translate }}</label>
                        <input readonly  name="nombre" ng-model="dato.nombre" value="{{dato.nombre}}">
                        
                </md-input-container>
                
                <md-input-container flex ng-init="opciones('SysModulo')">     
                	<br>
                        <md-select placeholder="{{ 'PADRE' | translate }}" ng-model="dato.idPadre">
                        	<md-option ng-repeat="item in options" value="{{item.id}}">{{item.nombre}}</md-option>
                        </md-select>
                </md-input-container>
                
            </md-list-item>
			<md-list-item >					
                <md-input-container flex > 
                	<label>{{ 'URL' | translate }}</label>
                        <input readonly  name="url" ng-model="dato.url" >
                        
                </md-input-container>
                
                <md-input-container flex > 
                	<label>{{ 'ICONO' | translate }}</label>
                        <input readonly  name="icon" ng-model="dato.icon" >
                        
                </md-input-container>
                
            </md-list-item>
            
            <md-list-item >					
                <md-input-container flex >
                	<label>{{ 'CONTROLADOR' | translate }} {{ 'ANGULAR' | translate }}</label>
                        <input readonly required  name="controladorAngular" ng-model="dato.controladorAngular" >
                        
                </md-input-container>
                
                <md-input-container flex > 
                	<label>{{ 'CONTROLADOR' | translate }} {{ 'LARAVEL' | translate }}</label>
                        <input readonly  name="controladorLaravel" ng-model="dato.controladorLaravel" >
                       
                </md-input-container>
                
            </md-list-item>
            
            <md-list-item >					
                <md-input-container flex > 
                	<p>{{ 'TIENE_VISTA' | translate }}</p>
                    <md-radio-group ng-model="dato.vista">
                      <md-radio-button value="1">{{ 'SI' | translate }}</md-radio-button>
                      <md-radio-button value="0"> {{ 'NO' | translate }} </md-radio-button>
                    </md-radio-group>
                </md-input-container>
                
            </md-list-item>
	</md-list>
</md-content>
</md-content></div>