<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('Usuario')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'USUARIO' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'EDITAR' | translate }}</span>
			</h2>
			<span flex></span>	
            
      
            	
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content >

	<md-list-item layout-sm="row" layout-md="row" style="margin-top:8%">
  <md-content flex="33" flex-md="25" flex-lg="15" flex-sm="0" hide-sm></md-content>
  <md-content flex="33" flex-md="50" flex-lg="70" flex-sm="100" class="imprimir">
    <section class="container" >
    
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>{{dato.nombres}} {{dato.apellidoPaterno}} {{dato.apellidoMaterno}}</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        {{dato.email}}
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{{ dato.avatar!=''  ? dato.avatar : 'assets/img/user.png'}}">
                    </div>
                    <div class="mc-description">
                        <md-content class="md-padding">
                     
                      <md-list-item layout-wrap >                                         
                        <md-input-container flex >     
                            <label>{{ 'NOMBRE' | translate }}</label>
                                <input required  name="nombre" ng-model="dato.nombres" md-minlength="3" md-maxlength="255">
                                <div ng-messages="forma.nombre.$error">
                                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                                  <div ng-message="md-minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                                  <div ng-message="md-maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                                </div>
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item layout-wrap >           
                        <md-input-container flex >     
                            <label>{{ 'APELLIDO_PATERNO' | translate }}</label>
                                <input  name="apellidoPaterno" ng-model="dato.apellidoPaterno" >
                                
                        </md-input-container>
                                        
                        <md-input-container flex >     
                            <label>{{ 'APELLIDO_MATERNO' | translate }}</label>
                                <input  name="apellidoMaterno" ng-model="dato.apellidoMaterno" >
                                
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item>
                        <md-input-container flex >     
                            <label>{{ 'CARGO' | translate }}</label>
                                <input  name="cargo" ng-model="dato.cargo" >
                                
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item>
                        <md-input-container flex >     
                            <label>{{ 'EMAIL' | translate }}</label>
                                <input name="email"  type="email" ng-model="dato.email" required>       
                                <div ng-messages="forma.email.$error" >
                                    <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                                    <div ng-message="email">{{ 'EMAIL_INVALIDO' | translate }}</div>
                                    <div ng-message="unique">{{ 'CORREO_YA_EXISTE' | translate }}</div>
                                </div>
                                
                        </md-input-container>
                      </md-list-item>
                      
                      <md-list-item>
                        <md-input-container flex >     
                            <label>{{ 'TELEFONO' | translate }}</label>
                                <input type="tel"  name="telefono" ng-model="dato.telefono" >
                                
                        </md-input-container>
                      </md-list-item>
                      
                      
                      
                      
                    </md-content>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
    </div>
</section>

</md-content>
<md-content flex="33" flex-md="25" flex-lg="15" flex-sm="0" hide-sm></md-content>
</md-list-item>
</md-content></div>

