<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('Evaluacion')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'EVALUACION' | translate }} {{ 'ABASTO' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'LISTA' | translate }}</span>
			</h2>
			<span flex></span>	
            
            	
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
<div class="imprimir">	
	<md-content  layout="column"  layour-align="center center"  >
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        		
            <md-content class="md-padding">
              <md-list-item layout-wrap ng-if="!update">
              	<div  align="center" style="width:100%">
                    <md-icon md-svg-icon="today"></md-icon>
                    <span> {{dato.fechaEvaluacion}} </span>
           			<br />
                    <span> <strong style="font-size:.8em;">{{ dato.cerrado  ? 'Cerrado' : 'Abierto' }}</strong> </span>
                  </div>
              	
              </md-list-item>
              
              
              	<md-list-item style="margin-top:-35px;"> 
                    <md-input-container flex >
                         <input type="hidden" aria-label="idCone" ng-model="dato.idCone" name="idCone" required>
                         <div ng-messages="forma.idCone.$error" >
                            <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                        </div>
                    </md-input-container>
                 </md-list-item>
            </md-content> 
                 <md-content layout="column"  layour-align="center center" >
					<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
                    	<md-input-container flex >
                            <div style="text-align:center" flex>                            
                            	<h4 style="font-size:1.3em">{{ dato.nombre }}</h4>
                                <h5 style="font-size:1em"><md-icon md-svg-icon="star"></md-icon> {{ dato.clues }}</h5>
                                <p style="font-size:.5em; margin-bottom:20px;">
                                {{ dato.domicilio }}  <strong>CP: </strong> {{ dato.codigoPostal }}
                                </p>
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.7em; margin:20px;">
                                    <span flex="33.33">
                                      <strong>{{ 'JURISDICCION' | translate }}:</strong> {{ dato.jurisdiccion }}
                                    </span>
                                    <span flex="33.33">
                                      <strong>{{ 'MUNICIPIO' | translate }}:</strong> {{ dato.municipio }}
                                    </span>
                                    <span flex="33.33">
                                    <strong>{{ 'LOCALIDAD' | translate }}:</strong> {{ dato.localidad }}
                                    </span>
                                </div>                             
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.6em; margin:20px;">
                                    <span flex="50">
                                    	<md-icon md-svg-icon="business"></md-icon> {{ dato.tipologia }}
                                    </span>
                                    <span flex="50">
                                    	<md-icon md-svg-icon="style"></md-icon> {{ dato.tipoUnidad }}
                                    </span>
                                </div>
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.7em; margin-top:20px">
                                	<span class="col-xs-12">
                                		<md-icon md-svg-icon="airline-seat-flat"></md-icon><strong> Nivel CONE:</strong> {{ dato.nivelCone }}
                                    </span>
                                </div>
                            </div>
						</md-input-container>

                	</md-list>
				</md-content>
			  
		</md-list>
	</md-content>
    <div style="margin-top:40px"></div>
    <md-content  layout="column"  layour-align="center center"  ng-init="cargarCriteriosVer()">
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        	<md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'INDICADOR' | translate}}</span>                                 
              </h2> 
            </md-toolbar>
            <md-content>
            	
                <md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th name="{{ 'INDICADOR' | translate}}"></th>
                        <th name="{{ 'CRITERIO' | translate}}"></th>
                        <th name="{{ 'APROBADO' | translate}}"></th>
                        <th name="{{ 'PORCENTAJE' | translate}}"></th>
                    </tr>
                </thead>
    <tbody>
                    
                    <tr ng-repeat="value in criterios.indicadores">
                                
                        <td>{{ value.codigo }} | {{ value.nombre }}</td>
                        <td>{{ value.indicadores.totalCriterios }}</td>
                        <td>{{ value.indicadores.totalAprobados }}</td>
                        <td>
                        	<div class="progress" >
                              <div class="progress-bar progress-bar-striped active progress-bar-default" role="progressbar"
                              aria-valuenow="{{ value.indicadores.totalPorciento }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ value.indicadores.totalPorciento }}%; background:{{ value.indicadores.totalColor }}">
                                {{ value.indicadores.totalPorciento }}%
                              </div></div>			
                    	</td>
                     
                 	</tr>
    </tbody>
  </table>
</md-data-table-container>

            </md-content>
        </md-list>
	</md-content>
    
    
    
    
    <md-content  layout="column"  layour-align="center center"  >
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        	<md-toolbar style="background-color:#F27900">
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'CRITERIO' | translate}}</span>                                 
              </h2> 
            </md-toolbar>
            <md-content  ng-repeat="(key, value) in criterios | groupBy : 'lugarVerificacion'"  ng="'animate'" ng-if="key != 'undefined'">
            
                <md-toolbar class="md-theme-light">
                  <h2 class="md-toolbar-tools">
                    <span flex>{{ value[0].codigo }} | {{ key }}</span>                                 
                  </h2> 
                </md-toolbar>
                <md-content>
                
                <md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th width="90%" name="{{ 'CRITERIO' | translate}}"></th>
                        <th name="{{ 'APROBADO' | translate}}"></th>
                    </tr>
                    </thead>
    <tbody>
            
                    <tr ng-repeat="c in value">
                

                    <td width="90%">{{ c.criterio  }}</td>
                    
                    <td>																						
                        <md-button class="md-raised"  style="width:100%; background-color: {{ c.aprobado == 1 ? '#7BE15E' : c.aprobado == 0 ? '#FF3C3C' : '#3198FF' }}; color:#FFF; font-weight:bold;">
                            {{ c.aprobado == 1 ? 'Si' : c.aprobado == 0 ? 'No' : 'N/A' }} 
                        </md-button>
                    </td>
                </tr>
    </tbody>
  </table>
</md-data-table-container>
            
                
            </md-content>
        </md-list>
	</md-content>
    
    <md-list-item ng-if="tieneHallazgo">                               
	<md-list-item  style="width:100%">
   	  <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="width:100%">
   		<span ng-init="acciones();accionesPlazo()"></span>
          	
          <md-toolbar class="md-accent md-warn" >
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'HALLAZGO' | translate }}</span>                                 
              </h2>
          </md-toolbar>

        	<md-list-item>
                    	
            <md-input-container flex >     
                <label>{{ 'HALLAZGO' | translate }}</label>
                    <textarea ng-model="dato.hallazgo" name="hallazgo" columns="1" md-maxlength="500" readonly></textarea>			
                    
            </md-input-container>

          </md-list-item>
          <md-list-item >

            <md-input-container flex >     
              <p>{{ 'ACCION' | translate }}</p>
                <select ng-options="item.id as item.nombre group by item.tipo=='R' ? 'Resolutiva' : 'Seguimiento' for item in acciones" ng-model="dato.accion"   disabled>
      					<option value="">Seleccione</option>
      				</select>
              
            </md-input-container>

	   		    <md-input-container flex ng-if="esSeguimiento">
		          <p>{{ 'PLAZO_ACCION' | translate }}</p>
		          <select ng-options="item.id as item.nombre for item in plazos" ng-model="dato.plazoAccion" disabled >
					     <option value="">Seleccione</option>
				      </select>
              	
		        </md-input-container>

          </md-list-item>
                       
          <md-list-item>

            <md-input-container flex>
            	<md-button class="md-raised" ng-disabled="form.$invalid">
                
              </md-button>
            </md-input-container>
                          
          </md-list-item>  

			</md-list>
		</md-list-item>   
      </md-list-item>			
</div>
