<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
	
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  ng-init="ver('EvaluacionCalidad')"><span ng-if="dato.cerrado" ng-init="redirect(dato.id)"></span>
		<div class="md-toolbar-tools" >    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'EVALUACION' | translate }} {{ 'CALIDAD' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'EDITAR' | translate }}</span>
			</h2>
			<span flex></span>				 
            
            <md-button hide-md hide-sm ng-show="terminado"  aria-label="{{ 'CAMBIAR_UM' | translate }}" ng-click="cerrar(dato.id)" >
              <md-icon md-svg-icon="check"></md-icon>
    			{{ 'CERRAR_EV' | translate }}
            </md-button>
            
            <md-button hide-md hide-sm ng-show="!update"  aria-label="{{ 'CAMBIAR_UM' | translate }}" ng-click="update=true" >
              <md-icon md-svg-icon="save"></md-icon>
    			{{ 'CAMBIAR_UM' | translate }}
            </md-button>
            
            <md-button hide-md hide-sm ng-show="update"  aria-label="{{ 'GUARDAR' | translate }}" ng-click="modificar(id)" ng-disabled="forma.$invalid">
              <md-icon md-svg-icon="save"></md-icon>
    			{{ 'GUARDAR' | translate }}
            </md-button>
            		
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	<ol class="breadcrumb top-breadcrumb" >
	  <li><a href="/#/">Home</a></li>
  <li><a url-modulo="--" id="lista">{{ 'EVALUACION' | translate }} {{ 'CALIDAD' | translate }}</a></li>
  <li class="active">{{ 'EDITAR' | translate }}</li>
</ol>


  <div style="margin-top:10px; margin-left:10px; position:absolute; z-index:999999">
      <md-icon md-svg-src="menu" ng-click="verTarjeta=!verTarjeta"></md-icon>
  </div>

  <div layout="row" ng-init="verTarjeta=true">

    <div flex="35" flex-md="100" layout="column" ng-show="verTarjeta" >
  	<form role="form" name="forma">
  		<input type="hidden" ng-model="dato.id" />
    	<md-content  layout="column"  layour-align="center center"  >
    		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
          <md-content class="md-padding">
            <md-list-item layout-wrap ng-if="!update">
              <div  align="center" style="width:100%">
                <md-icon md-svg-icon="today"></md-icon>
                <span> 
                  {{dato.fechaEvaluacion}} 
                </span>
             		<br />
                <span> 
                  <strong style="font-size:.8em;">
                    {{ dato.cerrado == 1 ? 'Cerrado' : 'Abierto' }}
                  </strong> 
                </span>
              </div>
                	
            </md-list-item>

            <!--<md-list-item layout-wrap ng-if="update">
              <md-input-container flex >	                                                             
                <p>{{ 'FECHA_EVALUACION' | translate}}</p>
                  <mb-datepicker element-id='fecha'
                         input-name="fecha"
                         arrows="arrows"
                         calendar-header="header"
                         date="dato.fechaEvaluacion"
                         date-format="YYYY-MM-DD" required>
                  </mb-datepicker>
                  <md-icon md-svg-icon="today" style="margin-top:30px; margin-left:200px;"></md-icon>
              </md-input-container> 
            </md-list-item>

            <md-list-item style="margin-top:-35px;">                   
              <md-input-container flex >
  				      <input type="hidden" aria-label="fechaEvaluacion" ng-model="dato.fechaEvaluacion" name="fechaEvaluacion" required>
                  <div ng-messages="forma.fechaEvaluacion.$error" >
                    <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                  </div>
              </md-input-container>
            </md-list-item>-->

            <md-list-item ng-if="update"> 
              <md-input-container flex >                 
                <p >{{ 'UM' | translate }}</p> 
                <section layout="row" layout-sm="column" layout-align="center center"  >                      
                  <div flex="100" ng-init="getClues();">
                    <md-autocomplete
                      ng-disabled="isDisabled"
                      md-no-cache="noCache"
                      md-selected-item="selectedItem"
                      md-search-text-change="searchTextChange(searchText)"
                      md-search-text="searchText"
                      md-selected-item-change="selectedItemChange(item)"
                      md-items="item in querySearch(searchText)"
                      md-item-text="item.nombre"
                      md-min-length="0"
                      ng-model="dato.idClues" 
                      md-menu-class="autocomplete-custom-template">
                                    
                      <md-item-template >
                        <span class="item-title">
                          <md-icon md-svg-icon="business"></md-icon>
                          <span> {{item.nombre}} </span>
                          <md-icon md-svg-icon="star"></md-icon>
                          <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="font-size:.8em;">{{item.clues}}</strong> </span>
                        </span>

                        <span class="item-metadata" style="font-size:.8em">
                          <span class="item-metastat" >
                            <strong>JS: </strong> {{item.jurisdiccion}}
                          </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span class="item-metastat">
                            <strong>M: </strong>{{item.municipio}} 
                          </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span class="item-metastat">
                            <strong>L: </strong> {{item.localidad}}
                          </span>
                        </span>

                        <span class="item-metadata" style="font-size:.6em">
                        	<md-icon md-svg-icon="place"></md-icon>
                          <span class="item-metastat">
                            {{item.domicilio}} 
                          </span>
                        </span>

                        <span class="item-metadata" style="font-size:.7em">
                        	<md-icon md-svg-icon="style"></md-icon>
                          <span class="item-metastat">
                            <strong>{{item.tipoUnidad}}</strong> 
                          </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span class="item-metastat">
                            <md-icon md-svg-icon="airline-seat-flat"></md-icon>
                            <strong>{{item.tipologia}}</strong> 
                          </span>
                        </span>
                      </md-item-template>                                 
                                      
                    </md-autocomplete>
                  </div>
                </section>
              </md-input-container>
            </md-list-item>

            <md-list-item style="margin-top:-35px;"> 
              <md-input-container flex >
                <input type="hidden" aria-label="idCone" ng-model="dato.idCone" name="idCone" required>
                <div ng-messages="forma.idCone.$error" >
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                </div>
              </md-input-container>
            </md-list-item>
                   
            <md-content layout="column"  layour-align="center center" >
  					  <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
                <md-input-container flex >
                  <div style="text-align:center" flex>                            
                    <h4 style="font-size:1.3em">{{ dato.nombre }}</h4>
                    <h5 style="font-size:1em"><md-icon md-svg-icon="star"></md-icon> {{ dato.clues }}</h5>
                    <p style="font-size:.5em; margin-bottom:20px;">
                      {{ dato.domicilio }}  <strong>CP: </strong> {{ dato.codigoPostal }}
                    </p>
                    <md-divider ></md-divider>
                                  
                    <div  style="font-size:.7em; margin:20px;">
                      <span flex="33.33">
                      	<strong>JS:</strong> {{ dato.jurisdiccion }}
                      </span>
                      <span flex="33.33">
                      	<strong>Municipio:</strong> {{ dato.municipio }}
                      </span>
                      <span flex="33.33">
                  		<strong>Localidad:</strong> {{ dato.localidad }}
                      </span>
                    </div>                               
                    <md-divider ></md-divider>
                                  
                    <div  style="font-size:.6em; margin:20px;">
                      <span flex="50">
                      	<md-icon md-svg-icon="business"></md-icon> {{ dato.tipologia }}
                      </span>
                      <span flex="50">
                      	<md-icon md-svg-icon="style"></md-icon> {{ dato.tipoUnidad }}
                      </span>
                    </div>
                    <md-divider ></md-divider>
                                  
                    <div  style="font-size:.7em; margin-top:20px">
                      <span class="col-xs-12">
                      	<md-icon md-svg-icon="airline-seat-flat"></md-icon><strong>Nivel CONE:</strong> {{ dato.nivelCone }}
                      </span>
                    </div>
                  </div>
  						  </md-input-container>

              </md-list>
  				  </md-content>
  			  </md-content>
		    </md-list>
	    </md-content>
        </form>  
    </div>

    <div  flex-md="100" layout="column" style="width:100%">
      <md-content layout="column"  layour-align="center center"  ng-init="opciones('indicador?categoria=CALIDAD')" >
  		  <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
          	
          <div cg-busy="{promise:calidad,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}" style="margin-top:-10px">
  				<md-list-item >
            <div layout="row" layout-wrap style="width:100%; margin-left:10px">
              <div flex="55"> 
                <md-list-item>              
                  <md-input-container flex >
                  	<span>
                      <md-select placeholder="{{ 'INDICADOR_SEL' | translate }}" ng-model="dato.idIndicador" ng-change="cargarCriterios()" >
                        <md-option ng-repeat="item in options" value="{{item.id}}">
                            {{item.codigo+' - '+item.nombre}}
                        </md-option>
                      </md-select>
                    </span>
                  </md-input-container>
                </md-list-item>
              </div>

              <div flex="45">
                <md-list-item>
                	<input ng-model="dato.totalExpediente" type="hidden">
                    <md-button type="button" class="md-raised md-primary" ng-click="agregarColumna()">
                        <md-icon md-svg-icon="add"></md-icon> {{ 'AGREGAR_EXP' | translate }}
                    </md-button>
                        
                    <md-button class="md-raised" type="button" ng-if="dato.totalExpediente>0">
                        {{ 'TOTAL_EXP' | translate }}: <strong>{{ dato.totalExpediente }}</strong>
                    </md-button>
                </md-list-item>                      
              </div>

            </div>
          </md-list-item>
          
          <md-list-item>
          	<md-content flex>
<form name="form" style="width:100%">            
<md-tabs md-dynamic-height md-border-bottom ng-if="dato.totalExpediente>0">
	<md-tab  ng-repeat="a in columnas"  label="{{a.id}}">
    
    <md-list-item ng-init="exp=a.id">
      <input ng-model="dato.columna[exp]" ng-init="dato.columna[exp]=exp" aria-label="columna" type="hidden">
        <md-input-container flex >    
          <label>{{ 'NUMERO_EXP' | translate }}: <strong>{{ exp }}</strong></label>
            <input  name="expediente" ng-model="dato.expediente[exp]" required />
              <div ng-messages="form.expediente.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
              </div>
                
        </md-input-container>

        <md-input-container flex style="float:right;">
          <md-content style="overflow:hidden; float:right; margin-top:10px">
            <md-menu flex="100">
              
              <md-button aria-label="estadisticas" style="width:192px; " type="button" class="md-raised" ng-click="$mdOpenMenu()">
                      	
                <md-chips>
                  <md-chip  style="background : #090; color:white;">
                    <strong>{{ completo[exp] }}</strong>
                    <md-icon md-menu-origin md-svg-icon="check" style="color:white;"></md-icon>
                  </md-chip>
                  
                  <md-chip  style="background : #A00; color:white;">
                    <strong>{{ incompleto[exp] }}</strong>
                    <md-icon md-menu-origin md-svg-icon="close" style="color:white;"></md-icon>
                  </md-chip>
                  
                  <md-chip style="float:right"><md-icon md-svg-icon="expand-more"></md-icon></md-chip>
                </md-chips>
                                                              
              </md-button>

              <md-menu-content width="4">
                <md-menu-item ng-repeat="i in informacion[exp]">
                  <md-button ng-click="dato.idIndicador=i.id; cargarCriterios();">
                    <md-icon md-svg-icon="{{ i[i.codigo] == i.total ? 'check' : 'close' }}" md-menu-align-target></md-icon>
                      <strong style="color: #{{ i[i.codigo] == i.total ? '090' : 'A00' }};"> 
                        {{ i.codigo }} 
                      </strong> 
                      &nbsp; 
                      {{ i.nombre}}  
                      &nbsp;  
                      <code> 
                        {{ i[i.codigo]+' de '+i.total }} 
                      </code>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

          </md-content>
        </md-input-container>

      </md-list-item>
    
      <md-list-item ng-repeat="(key, value) in criterios | groupBy :  'lugarVerificacion'" ng-if="key != 'undefined' ">   
  	  	<md-content style="width:100%">
              
        <md-toolbar> 
          <h2 class="md-toolbar-tools">
            <span flex>{{ key }}</span>                                 
          </h2> 
        </md-toolbar>
                  
        <md-data-table
                table-card="{visible: false, title: 'Lista Clues'}"
                selectable-rows="false"
                alternate-headers="false"
                sortable-columns="false"
                delete-row-callback="deleteRowCallback(rows)" 
                ng-init="tieneHallazgo[value[0].idlugarVerificacion] = (hallazgos[exp][value[0].idlugarVerificacion]) ? true : false"
                >
              
          <md-data-table-header-row>
            <md-data-table-column align-rule="left" width="70%">{{ 'CRITERIO' | translate }}</md-data-table-column>
            <md-data-table-column align-rule="left" width="30%">{{ 'APROBADO' | translate }}</md-data-table-column>
          </md-data-table-header-row>

          <md-data-table-row table-row-id="dato.id" ng-repeat="c in value">   
            <md-data-table-cell html-content="htmlContent" width="70%"> {{ c.criterio }} </md-data-table-cell>
              <md-data-table-cell html-content="htmlContent" width="30%">
                <div layout="row" layout-wrap>
                         
                <md-radio-group layout="row" layout-wrap 
                      ng-model="dato.aprobado[exp][c.idCriterio]" 
                      ng-click="aprobar(c.idCriterio,dato.id,value[0].idlugarVerificacion,exp)" 
                      ng-init="criterios.noAplica.indexOf(c.idCriterio)>-1 ? dato.aprobado[c.idCriterio]=2 : criterios.aprobado.indexOf(c.idCriterio)>-1 ? dato.aprobado[c.idCriterio]=1 : criterios.noAprobado.indexOf(c.idCriterio)>-1 ? dato.aprobado[c.idCriterio]=0 : ''">
                           
                  <div flex="33"><md-radio-button value="1" class="md-primary">{{ 'SI' | translate}}</md-radio-button></div>
                  <div flex="33"><md-radio-button value="0" >{{ 'NO' | translate}}</md-radio-button></div>
                  <!-- <div flex="33"><md-radio-button value="2" class="md-primary">{{ 'NA' | translate}}</md-radio-button></div> -->
                              
                              
                </md-radio-group>
                            
              </div>
                            
            </md-data-table-cell>
          </md-data-table-row>
	      </md-data-table>
      </md-content>
    </md-list-item>
    
    <md-list-item>
      <md-content flex>
        <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'ESTADISTICA' | translate}}</span>                                 
              </h2> 
            </md-toolbar>
            <md-content>
                <md-list>
                  <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'CUMPLE' | translate}}</h3>
                      <p><md-button class="md-raised {{ dato.cumple[exp]==0 ? 'md-warn' : 'md-primary' }} ">{{ dato.cumple[exp] }}</md-button><input ng-model="dato.cumple[exp]" type="hidden"></p>
                    </div>
                   
                    <div class="md-list-item-text">
                      <h3>{{ 'PROMEDIO' | translate}}</h3>
                      <h4>{{ dato.promedio[exp] }}%</h4>
                      <p><md-progress-linear class="md-warn" md-mode="buffer" value="{{ dato.promedio[exp] }}" md-buffer-value="{{ dato.promedio[exp] }}">
  </md-progress-linear><input ng-model="dato.promedio[exp]" type="hidden"></p>
                    </div>
                    
                    
                  </md-list-item>
                
                  <hr />
                  <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'PROMEDIO_GRAL' | translate}}</h3>
                      <h4>{{ dato.promedioGeneral }} </h4>
                      <p><md-progress-linear class="md-accent md-primary" md-mode="buffer" value="{{ dato.promedioGeneral }}" md-buffer-value="{{ dato.promedioGeneral }}">
  </md-progress-linear><input ng-model="dato.promedioGeneral" type="hidden"></p>
                    </div>
                  </md-list-item>
                </md-list>
            </md-content>
            
         </md-list>
      </md-content>
    </md-list-item>
     
  </md-tab>
</md-tabs>  
</form>            
            
            </md-content>
          </md-list-item>
          

		
            <md-list-item> 
            <form name="formx" style="width:100%">                               
<md-list-item ng-if="tieneHallazgo" style="width:100%">
   <md-list layout-margin class="md-whiteframe-z1" layout-align="center center" style="width:100%">
   		<span ng-init="acciones();accionesPlazo()"></span>
          	
          <md-toolbar class="md-accent md-warn" >
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'HALLAZGO' | translate }}</span>                                 
              </h2>
          </md-toolbar>

        	<md-list-item>
                    	
            <md-input-container flex >     
                <label>{{ 'HALLAZGO' | translate }}</label>
                    <textarea ng-model="dato.hallazgo" name="hallazgo" columns="1" md-maxlength="500" required></textarea>			
                    <div ng-messages="formx.hallazgo.$error" >
                        <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                    </div>
            </md-input-container>

          </md-list-item>
          <md-list-item >

            <md-input-container flex >     
              <p>{{ 'ACCION' | translate }}</p>
                <select ng-options="item.id as item.nombre group by item.tipo=='R' ? 'Resolutiva' : 'Seguimiento' for item in acciones" ng-model="dato.accion"  ng-change="verSeguimiento()" id="accion" required>
      					<option value="">Seleccione</option>
      				</select>
              <div ng-messages="formx.hallazgo.$error" >
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                 
              </div>
            </md-input-container>

	   		    <md-input-container flex ng-if="esSeguimiento">
		          <p>{{ 'PLAZO_ACCION' | translate }}</p>
		          <select ng-options="item.id as item.nombre for item in plazos" ng-model="dato.plazoAccion" required >
					     <option value="">Seleccione</option>
				      </select>
              <div ng-messages="formx.hallazgo.$error" >
                <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                  </div>	
		        </md-input-container>

          </md-list-item>
                       
          <md-list-item>

            <md-input-container >
            	<md-button class="md-raised md-primary" ng-click="completar()" ng-disabled="formx.$invalid">
                {{ 'COMPLETAR' | translate }}
              </md-button>
            </md-input-container>
                          
          </md-list-item>  

			</md-list>
</md-list-item>          
          </form>
          </md-list-item>
          
        </div>
      </md-list>
    </md-content>
  </div>
</div>

<span ng-init="estadistica()"></span>

