<md-toast class="md-bottom md-left" ng-show="!online" ng-include="'src/app/views/sin_conexion.html'"></md-toast>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  ng-init="ver('EvaluacionCalidad')"><span ng-if="dato.cerrado" ng-init="redirect(dato.id)"></span>
		<div class="md-toolbar-tools" >    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'EDITAR' | translate }}</span>
			</h2>
			<span flex ></span>		
            		
			<a url-modulo="--" id="lista">
  <md-button hide-md hide-sm hide-lg  aria-label="{{ 'REGRESAR' | translate }}" ng-if="url.split('/').length>2">
    <md-icon md-svg-icon="arrow-back"></md-icon>
    {{ 'REGRESAR' | translate }}
  </md-button>

  <md-button class="md-icon-button"  hide show-sm show-md show-lg  aria-label="{{ 'REGRESAR' | translate }}" ng-if="url.split('/').length>2">
    <md-icon md-svg-icon="arrow-back"></md-icon>
    <md-tooltip>
      {{ 'REGRESAR' | translate }}
    </md-tooltip>
  </md-button>
</a>

<md-button hide-md hide-sm hide-lg ng-show="terminado"  aria-label="{{ 'CERRAR_EV' | translate }}" ng-click="cerrar(dato.id)" ng-disabled="forma.$invalid">
    <md-icon md-svg-icon="check"></md-icon>
  {{ 'CERRAR_EV' | translate }}
</md-button>
<md-button class="md-icon-button"  ng-show="terminado" hide show-sm show-md show-lg show-sm ng-click="cerrar(dato.id)" ng-disabled="forma.$invalid" aria-label="{{ 'CERRAR_EV' | translate }}">
  <md-icon md-svg-icon="check"></md-icon>
  <md-tooltip>
      {{ 'CERRAR_EV' | translate }}
    </md-tooltip>
</md-button>

<md-button hide-md hide-sm hide-lg  aria-label="{{ 'GUARDAR' | translate }}" ng-click="modificar(dato.id)" ng-if="dato.idIndicador" ng-disabled="forma.$invalid">
    <md-icon md-svg-icon="save"></md-icon>
  {{ 'GUARDAR' | translate }}
</md-button>
<md-button class="md-icon-button"  hide show-sm show-md show-lg show-sm ng-click="modificar(dato.id)" aria-label="{{ 'GUARDAR' | translate }}" ng-disabled="forma.$invalid" ng-if="dato.idIndicador">
  <md-icon md-svg-icon="save"></md-icon>
  <md-tooltip>
      {{ 'GUARDAR' | translate }}
    </md-tooltip>
</md-button>

<md-button hide-md hide-sm hide-lg  aria-label="{{ 'FICHA' | translate }}" ng-click="abrirFicha($event)" >
    <md-icon md-svg-icon="info"></md-icon>
  {{ 'FICHA' | translate }}
</md-button>
<md-button class="md-icon-button"  hide show-sm show-md show-lg show-sm ng-click="abrirFicha($event)" aria-label="{{ 'FICHA' | translate }}" >
  <md-icon md-svg-icon="info"></md-icon>
  <md-tooltip>
      {{ 'FICHA' | translate }}
    </md-tooltip>
</md-button>


<md-button hide-sm class="md-icon-button" aria-label="{{ 'CAMBIAR_IDIOMA' | translate }}" ng-click="mostrarIdiomas($event)">
  <md-icon md-svg-icon="language"></md-icon>
        <md-tooltip>
          {{ 'CAMBIAR_IDIOMA' | translate }}
        </md-tooltip>
</md-button>
      
<md-button hide-sm ng-click="logout()"  aria-label="{{ 'CERRAR_SESION' | translate }}">
  <md-icon md-svg-icon="exit-to-app"></md-icon>
  {{ 'CERRAR_SESION' | translate }}
</md-button>
		</div>
	</md-toolbar>
	<md-content layout="column" ng-init="opciones('Indicador?categoria=CALIDAD')" flex>
    
      <div layout-margin layout-align="center center" align="center" >
            <md-icon md-svg-icon="today"></md-icon>
            <span> {{dato.fechaEvaluacion}}                      
            <md-icon md-svg-icon="star" ></md-icon> {{ clues }}    {{ nombre }}
            </span> 
            <md-divider></md-divider>
        </div>
        <div layout="row" layout-align="center center" >
            <div>
              <md-menu>
                <md-button class="md-icon-button md-primary" aria-label="{{ 'INDICADOR_SEL' | translate }}" ng-click="$mdOpenMenu();abrirIndicadores();">
                  <md-icon md-svg-icon="menu"></md-icon>
                  <md-tooltip>
                    {{ 'INDICADOR_SEL' | translate }}
                  </md-tooltip>
                 </md-button>
                  <md-menu-content width="4">
                    <md-menu-item ng-repeat="i in options">
                      <md-button ng-click="dato.idIndicador=i.id; cargarCriterios(i.id,i.codigo,i.nombre,$index);">
                        {{ i.codigo }} - {{ i.nombre}}
                      </md-button>
                    </md-menu-item>
                    
                  </md-menu-content>
                </md-menu>
            </div>
              
              <md-select flex placeholder="{{ information ? 'INDICADOR_SEL' : 'NO_INDICADOR_SEL' | translate }}" ng-model="dato.idIndicador"  id="indicador">  
                                    
                      <md-option ng-repeat="i in information" value="{{i.id}}" ng-click="dato.idIndicador=i.id; cargarCriterios();">
                        <md-icon md-svg-icon="{{ i.completo  ? 'check' : 'warning' }}" md-menu-align-target></md-icon>
                        <strong style="color: #{{ i.completo  ? '090' : 'A00' }};"> {{ i.codigo }} </strong> - {{ i.nombre}} 
                      </md-option>                      
                </md-select>
                
              <md-input-container ng-if="dato.idIndicador">
                <label>{{ 'EXPEDIENTE' | translate }}</label>
                <input flex name="expediente" ng-model="dato.numExpediente"  required " /> 
                <div ng-messages="formExp.expediente.$error" >
                    <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                </div> 
              </md-input-container>
            
              <div>
                <md-button class="md-icon-button  md-warn equis"  ng-click="borrarIndicador()" aria-label="{{ 'ELIMINAR' | translate }}" ng-if="TieneDatosIndicador">
                  <md-icon md-svg-icon="delete"></md-icon>
                  <md-tooltip>
                    {{ 'ELIMINAR_IND' | translate }}
                  </md-tooltip>
                </md-button>
                              
                <md-button type="button"  class="md-raised md-primary" ng-disabled="formExp.$invalid" ng-click="validarNoRepetirExpediente(dato.numExpediente)" ng-if="dato.idIndicador">
                    <md-icon md-svg-icon="add"></md-icon><span hide-sm> {{ 'AGREGAR' | translate }}</span>
                </md-button>
              </div>
            </ng-form>
        </div>
        <md-content > 
        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom ng-if="dato.totalExpediente>0" class="mitab">
          <md-tab ng-repeat="a in columnas"  label="{{dato.expediente[$index]}}" ng-init="col=$index;exp = dato.expediente[$index] != null ? dato.expediente[$index] : a.id" layout="column" flex layout-fill>
              
            
            <md-content style="max-height: {{tamanoHeight}}px;" flex ng-init="incompleto[dato.idIndicador][exp]=incompleto[dato.idIndicador][exp]==null ? 0 : incompleto[dato.idIndicador][exp]">
                <input ng-model="dato.columna[a.id]" ng-init="dato.columna[a.id]=a.id" aria-label="columna" type="hidden">   
                <input ng-model="dato.expediente[$index]"  type="hidden"/>  
                <section ng-repeat="(key, value) in criterios | groupBy :  'lugarVerificacion'" ng-if="key != 'undefined' "  style="margin-bottom:1em;border: 1px solid #eee"> 
                  <md-subheader class="md-primary">{{key}}
                    <div style="float:right;" class="md-char-counter" layout-margin> {{ totalDeTotal[dato.idIndicador][exp]['de'] }} {{ dato.idIndicador > 0 ? '/' : ''}} {{totalDeTotal[dato.idIndicador][exp]['total'] }} </div>
                    <md-button style="float:right; padding:0px; margin-top: -15px;" class="md-icon-button  md-warn"  ng-click="borrarExpediente(exp,col)" aria-label="{{ 'ELIMINAR' | translate }}" >
                      <md-icon md-svg-icon="delete"></md-icon>
                      <md-tooltip>
                        {{ 'ELIMINAR_EXP' | translate }}
                      </md-tooltip>
                    </md-button>
                    
                  </md-subheader>
                  <md-list>                                                   
                      <md-list-item ng-repeat="c in value" style="border-top: 1px solid #ddd">
                      <p >  {{ c.criterio }} </p>
                      <md-radio-group layout="row" layout-wrap 
                                  ng-model="dato.aprobado[exp][c.idCriterio]" 
                                  ng-change="aprobar(c.idCriterio,dato.id,value[0].idlugarVerificacion,col,exp,a.id)">
                                      
                        <div flex="33"><md-radio-button value="1" class="md-primary">{{ 'SI' | translate}}</md-radio-button></div>
                        <div flex="33"><md-radio-button value="0" class="md-warn">{{ 'NO' | translate}}</md-radio-button></div>
                        <!-- <div flex="33"><md-radio-button value="2" class="md-primary">{{ 'NA' | translate}}</md-radio-button></div> -->                                                        
                      </md-radio-group>
                      </md-list-item>                                  
                    </md-list>
                </section>
               
                <section layout="row" layout-margin layout-align="end center">
                  <small>
                    {{ 'RESULTADO_EXPEDIENTE' | translate}}: <strong>{{ dato.promedio[exp] }}%</strong>   <small style="color:#FFF; background:{{ dato.cumple[exp]==0 ? 'red' : 'green' }}">{{dato.cumple[exp] ? '' : 'No'}} {{ 'CUMPLE' | translate}}</small>               
                 
                  </small>
                </section>                
            </md-content>         
          </md-tab>
        </md-tabs>  
        
        <ng-form name="forma">
        <section ng-if="tieneHallazgo" ng-init="acciones();" layout-margin class="md-whiteframe-z1" layout-align="center center" flex>           
            <md-list-item>              
              <md-input-container flex >     
                <label>{{ 'HALLAZGO' | translate }}</label>
                <textarea ng-model="dato.hallazgos.descripcion" name="hallazgo" columns="1" maxlength="500" required></textarea>      
                <div ng-messages="forma.hallazgo.$error" >
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                </div>
              </md-input-container>
            </md-list-item>
            <md-list-item >
              <md-input-container flex >     
                <md-select  ng-model="dato.hallazgos.idAccion"  id="accion" name="accion" placeholder="{{ 'ACCION' | translate }}">
                  <md-optgroup label="{{currentGroup == 'R' ? 'Resolutiva' : 'Seguimiento' }}" ng-repeat="currentGroup in groupList" >
                  <md-option ng-value="item.id" ng-repeat="item in acciones | filter: {tipo: currentGroup}" ng-click="verSeguimiento(item.tipo)">{{item.nombre}}</md-option>
                  </md-optgroup>
                </md-select>
                <div ng-messages="forma.accion.$error" >
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                 
                </div>
              </md-input-container>               
            </md-list-item>
        </section> 
        </ng-form>
        </md-content>
        <section layout="row" class="md-whiteframe-z1" layout-margin layout-align="center center" ng-if = "dato.promedioGeneral>0">
          <div flex  layout-padding>
            {{ 'RESULTADO_INDICADOR' | translate}}: <strong>{{ dato.promedioGeneral }}%</strong>                  
            <md-progress-linear class="md-accent md-primary" md-mode="" value="{{ dato.promedioGeneral }}" md-buffer-value="{{ dato.promedioGeneral }}">
                      </md-progress-linear><input ng-model="dato.promedioGeneral" type="hidden">
          </div>
        </section>  
</md-content></div>