<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  ng-init="ver('EvaluacionCalidad')"><span ng-if="dato.cerrado" ng-init="redirect(dato.id)"></span>
		<div class="md-toolbar-tools" >    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'EDITAR' | translate }}</span>
			</h2>
			<span flex ></span>		
            		
			<a url-modulo="--" id="lista">
  <md-button hide-md hide-sm hide-lg  aria-label="{{ 'REGRESAR' | translate }}" ng-if="url.split('/').length>2">
    <md-icon md-svg-icon="arrow-back"></md-icon>
    {{ 'REGRESAR' | translate }}
  </md-button>

  <md-button class="md-icon-button"  hide show-sm show-md show-lg  aria-label="{{ 'REGRESAR' | translate }}" ng-if="url.split('/').length>2">
    <md-icon md-svg-icon="arrow-back"></md-icon>
    <md-tooltip>
      {{ 'REGRESAR' | translate }}
    </md-tooltip>
  </md-button> 

</a>

<md-button hide-md hide-sm hide-lg ng-show="terminado"  aria-label="{{ 'CERRAR_EV' | translate }}" ng-click="cerrar(dato.id)" ng-disabled="forma.$invalid">
    <md-icon md-svg-icon="check"></md-icon>
  {{ 'CERRAR_EV' | translate }}
</md-button>
<md-button class="md-icon-button"  ng-show="terminado" hide show-sm show-md show-lg show-sm ng-click="cerrar(dato.id)" ng-disabled="forma.$invalid" aria-label="{{ 'CERRAR_EV' | translate }}">
  <md-icon md-svg-icon="save"></md-icon>
  <md-tooltip>
      {{ 'CERRAR_EV' | translate }}
    </md-tooltip>
</md-button>

<md-button hide-md hide-sm hide-lg  aria-label="{{ 'GUARDAR' | translate }}" ng-click="modificar(dato.id)" ng-if="dato.idIndicador" ng-disabled="forma.$invalid">
    <md-icon md-svg-icon="save"></md-icon>
  {{ 'GUARDAR' | translate }}
</md-button>
<md-button class="md-icon-button"  hide show-sm show-md show-lg show-sm ng-click="modificar(dato.id)" aria-label="{{ 'GUARDAR' | translate }}" ng-disabled="forma.$invalid" ng-if="dato.idIndicador">
  <md-icon md-svg-icon="save"></md-icon>
  <md-tooltip>
      {{ 'GUARDAR' | translate }}
    </md-tooltip>
</md-button>

<md-button hide-md hide-sm hide-lg  aria-label="{{ 'FICHA' | translate }}" ng-click="abrirFicha($event)" >
    <md-icon md-svg-icon="info"></md-icon>
  {{ 'FICHA' | translate }}
</md-button>
<md-button class="md-icon-button"  hide show-sm show-md show-lg show-sm ng-click="abrirFicha($event)" aria-label="{{ 'FICHA' | translate }}" >
  <md-icon md-svg-icon="info"></md-icon>
  <md-tooltip>
      {{ 'FICHA' | translate }}
    </md-tooltip>
</md-button>


<md-button hide-sm class="md-icon-button" aria-label="{{ 'CAMBIAR_IDIOMA' | translate }}" ng-click="mostrarIdiomas($event)">
  <md-icon md-svg-icon="language"></md-icon>
        <md-tooltip>
          {{ 'CAMBIAR_IDIOMA' | translate }}
        </md-tooltip>
</md-button>
      
<md-button hide-sm ng-click="logout()"  aria-label="{{ 'CERRAR_SESION' | translate }}">
  <md-icon md-svg-icon="exit-to-app"></md-icon>
  {{ 'CERRAR_SESION' | translate }}
</md-button>
		</div>
	</md-toolbar>
	<md-content>
	
<form name="forma">   

  <div ng-init="verTarjeta=false"  layout="row" layout-wrap flex >  

    <div flex="verTarjeta ? 65 : 100" flex-md="100" flex-lg="100" flex-sm="100" layout="column" layout-wrap >
      <md-content  ng-init="opciones('Indicador?categoria=CALIDAD')" flex>
        <md-list layout-margin class="md-whiteframe-z1" layour-align="center center" flex>
            
          <div  align="center" style="width:100%">
            <md-icon md-svg-icon="today"></md-icon>
            <span> {{dato.fechaEvaluacion}}                      
            <md-icon md-svg-icon="star" ></md-icon> {{ clues }}    {{ nombre }}
            </span>                    
          </div>
       </md-list>
  		  <md-list layout-margin class="md-whiteframe-z1" layour-align="center center" flex>
          	
          
  				<md-list-item layout-wrap flex >
             
                <md-list-item flex>              
                  
                  	<span flex>
                      <md-select style="margin-top:45px;" placeholder="{{ 'INDICADOR_SEL' | translate }}" ng-model="dato.idIndicador" ng-click="verificarCambios();" ng-change="cargarCriterios()" id="indicador">
                        <md-option ng-repeat="item in options" value="{{item.id}}">
                            {{item.codigo+' - '+item.nombre}}
                        </md-option>
                      </md-select>

                    </span>
                	  <md-button class="md-icon-button  md-warn"  ng-click="borrarIndicador()" aria-label="{{ 'ELIMINAR' | translate }}" ng-if="criterios.aprobado.length>0 || criterios.noAprobado.length>0">
                            <md-icon md-svg-icon="delete"></md-icon>
                            <md-tooltip>
                                    {{ 'ELIMINAR_IND' | translate }}
                                  </md-tooltip>
                          </md-button>
                    <md-button type="button"  class="md-raised md-primary" ng-click="agregarColumna()" ng-if="dato.totalExpediente>0">
                        <md-icon md-svg-icon="add"></md-icon><span hide-sm> {{ 'AGREGAR_EXP' | translate }}</span>
                    </md-button>
                        
                    <md-button class="md-raised"  hide-sm  type="button" ng-if="dato.totalExpediente>0">
                        <span hide-md>{{ 'TOTAL_EXP' | translate }}:</span> <strong>{{ dato.totalExpediente }}</strong>
                    </md-button>

                    <input ng-model="dato.totalExpediente" type="hidden">
                </md-list-item>                      
              
          </md-list-item>
          
          <md-list-item layout-wrap flex>
          	<md-content flex>
         
<md-tabs md-dynamic-height md-border-bottom ng-if="dato.totalExpediente>0">
	<md-tab  ng-repeat="a in columnas"  label="{{a.id}}" ng-init="col=$index">
    
    <md-list-item ng-init="exp = a.exp != null ? a.exp : a.id " layout="row" layout-wrap >
     <ng-form name="formExp" layout="row" layout-lg="row" layout-md="row" layout-sm="column" flex>
      <input ng-model="dato.columna[a.id]" ng-init="dato.columna[a.id]=a.id" aria-label="columna" type="hidden">
        
        <md-input-container flex >    
          <label>{{ 'NUMERO_EXP' | translate }}: <strong>{{ a.id }}</strong></label>
            <input  name="expediente" ng-model="dato.expediente[exp]" required ng-blur="validarNoRepetirExpediente(dato.expediente[exp],exp)" />
              <div ng-messages="formExp.expediente.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
              </div>
               
        </md-input-container>
        <md-input-container flex>
          <md-content ng-init="incompleto[dato.idIndicador][exp]=incompleto[dato.idIndicador][exp]==null ? 0 : incompleto[dato.idIndicador][exp]"> 

            <md-menu flex="100" style="float:right;" ng-init="completo[dato.idIndicador][exp]=completo[dato.idIndicador][exp]==null ? 0 : completo[dato.idIndicador][exp]">
              
              <md-button aria-label="estadisticas" style="width:192px;" type="button" class="md-raised" ng-click="$mdOpenMenu()">
                  
                <md-chips >
                  <md-chip style="background : #090; color:white;">
                    <strong>{{ completo[dato.idIndicador][exp] }}</strong>
                    <md-icon md-menu-origin md-svg-icon="check" style="color:white;"></md-icon>
                  </md-chip>
                  
                  <md-chip style="background : #A00; color:white;">
                    <strong>{{ incompleto[dato.idIndicador][exp] }}</strong>
                    <md-icon md-menu-origin md-svg-icon="close" style="color:white;"></md-icon>
                  </md-chip>
                  
                  <md-chip style="float:right"><md-icon md-svg-icon="expand-more"></md-icon></md-chip>
                </md-chips>
                                                              
              </md-button>

              <md-menu-content width="4">
                <md-menu-item ng-repeat="i in informacion[exp]">
                  <md-button ng-click="dato.idIndicador=i.id; cargarCriterios();">
                    <md-icon md-svg-icon="{{ i[i.codigo] == i.total ? 'check' : 'close' }}" md-menu-align-target></md-icon>
                      <strong style="color: #{{ i[i.codigo] == i.total ? '090' : 'A00' }};"> 
                        {{ i.codigo }} 
                      </strong> 
                      &nbsp; 
                      {{ i.nombre}}  
                      &nbsp;  
                      <code> 
                        {{ i[i.codigo]+' de '+i.total }} 
                      </code>
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="informacion[exp].length<1 || informacion[exp]==null">
                  <md-button>
                    <strong > {{ 'NO_INDICADOR' | translate }} </strong>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-button style="float:right;" class="md-icon-button  md-warn"  ng-click="borrarExpediente(exp,col)" aria-label="{{ 'ELIMINAR' | translate }}" >
                            <md-icon md-svg-icon="delete"></md-icon>
                            <md-tooltip>
                                    {{ 'ELIMINAR_EXP' | translate }}
                                  </md-tooltip>
                          </md-button>
          </md-content>
        </md-input-container>
       
        </ng-form>
      </md-list-item>
      
      <md-list-item ng-repeat="(key, value) in criterios | groupBy :  'lugarVerificacion'" ng-if="key != 'undefined' ">   
  	  	<md-content style="width:100%">
              
        <md-toolbar flex> 
          <h2 class="md-toolbar-tools">
            <span flex>{{ key }}</span>                                 
          </h2> 
        </md-toolbar>
        
        <md-list >
          <md-subheader class="md-no-sticky">{{ 'CRITERIO' | translate }} <span style="float:right"> {{ 'APROBADO' | translate }}</span></md-subheader>
          <md-list-item ng-repeat="c in value">
          <p >  {{ c.criterio }} </p>
          <md-radio-group layout="row" layout-wrap 
                      ng-model="dato.aprobado[exp][c.idCriterio]" 
                      ng-change="aprobar(c.idCriterio,dato.id,value[0].idlugarVerificacion,exp,a.id)" 
                      ng-init="criterios.noAplica.indexOf(c.idCriterio)>-1 ? dato.aprobado[c.idCriterio]=2 : criterios.aprobado.indexOf(c.idCriterio)>-1 ? dato.aprobado[c.idCriterio]=1 : criterios.noAprobado.indexOf(c.idCriterio)>-1 ? dato.aprobado[c.idCriterio]=0 : ''">
                           
                  <div flex="33"><md-radio-button value="1" class="md-primary">{{ 'SI' | translate}}</md-radio-button></div>
                  <div flex="33"><md-radio-button value="0" class="md-warn">{{ 'NO' | translate}}</md-radio-button></div>
                  <!-- <div flex="33"><md-radio-button value="2" class="md-primary">{{ 'NA' | translate}}</md-radio-button></div> -->
                              
                              
                </md-radio-group>
                <md-divider></md-divider>
          </md-list-item>
                    
          
        </md-list>
        </md-content>
      </md-list-item>
        
    
    <md-list-item >
      <md-content flex>
        <md-list layout-margin  layout-align="center center" >
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'ESTADISTICA' | translate}}</span>                                 
              </h2> 
            </md-toolbar>
            <md-content>
                <md-list>
                  <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'CUMPLE' | translate}}</h3>
                      <p><md-button class="md-raised {{ dato.cumple[exp]==0 ? 'md-warn' : 'md-primary' }} ">{{ dato.cumple[exp] }}</md-button><input ng-model="dato.cumple[exp]" type="hidden"></p>
                    </div>
                   
                    <div class="md-list-item-text">
                      <h3>{{ 'PROMEDIO' | translate}}</h3>
                      <h4>{{ dato.promedio[exp] }}%</h4>
                      <p><md-progress-linear class="md-warn" md-mode="buffer" value="{{ dato.promedio[exp] }}" md-buffer-value="{{ dato.promedio[exp] }}">
  </md-progress-linear><input ng-model="dato.promedio[exp]" type="hidden"></p>
                    </div>
                    
                    
                  </md-list-item>
                
                  <hr />
                  <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'PROMEDIO_GRAL' | translate}}</h3>
                      <h4>{{ dato.promedioGeneral }} </h4>
                      <p><md-progress-linear class="md-accent md-primary" md-mode="buffer" value="{{ dato.promedioGeneral }}" md-buffer-value="{{ dato.promedioGeneral }}">
  </md-progress-linear><input ng-model="dato.promedioGeneral" type="hidden"></p>
                    </div>
                  </md-list-item>
                </md-list>
            </md-content>
            
         </md-list>
      </md-content>
    </md-list-item>
    
  </md-tab>
</md-tabs>        
           
            </md-content>
          </md-list-item>
          

		
    <span ng-init="acciones();accionesPlazo()"></span>                         
    <md-list-item ng-if="tieneHallazgo" > 
      <md-list layout-margin  layout-align="center center" style="width:100%">
   		
          	
          <md-toolbar class="md-accent md-warn" >
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'HALLAZGO' | translate }}</span>                                 
              </h2>
          </md-toolbar>

        	<md-list-item>
                    	
            <md-input-container flex >     
                <label>{{ 'HALLAZGO' | translate }}</label>
                    <textarea ng-model="dato.hallazgos.descripcion" name="hallazgo" columns="1" maxlength="500" ></textarea>			
                    <div ng-messages="forma.hallazgo.$error" >
                        <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                    </div>
            </md-input-container>

          </md-list-item>
          <md-list-item >

            <md-input-container flex >     
               <md-select  ng-model="dato.hallazgos.idAccion"  id="accion" placeholder="{{ 'ACCION' | translate }}" >
                        <md-optgroup label="{{currentGroup == 'R' ? 'Resolutiva' : 'Seguimiento' }}" ng-repeat="currentGroup in groupList" >
                          <md-option ng-value="item.id" ng-repeat="item in acciones | filter: {tipo: currentGroup}" ng-click="verSeguimiento(item.tipo)">{{item.nombre}}</md-option>
                        </md-optgroup>
                      </md-select>
              <div ng-messages="forma.hallazgo.$error" >
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                 
              </div>
            </md-input-container>

	   		    <md-input-container flex ng-if="esSeguimiento">
		          <md-select ng-model="dato.hallazgos.idPlazoAccion"  placeholder="{{ 'PLAZO-ACCION' | translate }}">
												<md-option ng-value="item.id" ng-repeat="item in plazos" >{{item.nombre}}</md-option>
											</md-select>
              <div ng-messages="forma.hallazgo.$error" >
                <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                  </div>	
		        </md-input-container>

          </md-list-item>
                      

			</md-list>
</md-list-item>          
          
      </md-list>
    </md-content>
  </div>
</div>
</form>
</md-content></div>