<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('EvaluacionCalidad')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'EVALUACION' | translate }} {{ 'CALIDAD' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'LISTA' | translate }}</span>
			</h2>
			<span flex></span>
   
                                                           
            <span ng-include="'src/app/views/menu-opciones.html'"></span>		
			
		</div>
	</md-toolbar>
	<md-content>
<div class="imprimir">  
<md-content  layout="column"  layour-align="center center"  >
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        		
            <md-content class="md-padding">
              <md-list-item layout-wrap ng-if="!update">
              	<div  align="center" style="width:100%">
                    <md-icon md-svg-icon="today"></md-icon>
                    <span> {{dato.fechaEvaluacion}} </span>
           			<br />
                    <span> <strong style="font-size:.8em;">{{ dato.cerrado == 1 ? 'Cerrado' : 'Abierto' }}</strong> </span>
                  </div>
              	
              </md-list-item>
              
              
              	<md-list-item style="margin-top:-35px;"> 
                    <md-input-container flex >
                         <input type="hidden" aria-label="idCone" ng-model="dato.idCone" name="idCone" required>
                         <div ng-messages="forma.idCone.$error" >
                            <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                        </div>
                    </md-input-container>
                 </md-list-item>
                 
                 <md-content layout="column"  layour-align="center center" >
					<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
                    	<md-input-container flex >
                            <div style="text-align:center" flex>                            
                            	<h4 style="font-size:1.3em">{{ dato.nombre }}</h4>
                                <h5 style="font-size:1em"><md-icon md-svg-icon="star"></md-icon> {{ dato.clues }}</h5>
                                <p style="font-size:.5em; margin-bottom:20px;">
                                {{ dato.domicilio }}  <strong>CP: </strong> {{ dato.codigoPostal }}
                                </p>
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.7em; margin:20px;">
                                    <span flex="33.33">
                                    	<strong>{{ 'JURISDICCION' | translate }}:</strong> {{ dato.jurisdiccion }}
                                    </span>
                                    <span flex="33.33">
                                    	<strong>{{ 'MUNICIPIO' | translate }}:</strong> {{ dato.municipio }}
                                    </span>
                                    <span flex="33.33">
                                		<strong>{{ 'LOCALIDAD' | translate }}:</strong> {{ dato.localidad }}
                                    </span>
                                </div>                               
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.6em; margin:20px;">
                                    <span flex="50">
                                    	<md-icon md-svg-icon="business"></md-icon></md-icon> {{ dato.tipologia }}
                                    </span>
                                    <span flex="50">
                                    	<md-icon md-svg-icon="style"></md-icon> {{ dato.tipoUnidad }}
                                    </span>
                                </div>
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.7em; margin-top:20px">
                                	<span class="col-xs-12">
                                		<md-icon md-svg-icon="airline-seat-flat"></md-icon> Nivel CONE:</strong> {{ dato.nivelCone }}
                                    </span>
                                </div>
                            </div>
						</md-input-container>

                	</md-list>
				</md-content>
			  
		</md-list>
	</md-content>
    
    <div style="margin-top:40px"></div>
    <md-content  layout="column"  layour-align="center center"  ng-init="cargarCriteriosVer()">
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        	<md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'INDICADOR' | translate}}</span>                                 
              </h2> 
            </md-toolbar>
            <md-content>
            	
                <md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th width="40%" name="No Expediente:"></th>
                        <th ng-repeat="v in columnas" width="1%"  name="{{ v }}">
                        </th>
                        <th colspan="4"> </th>
                    </tr>
                    
    <tbody>
					
                    <tr>
                        <th width="50%" name="{{ 'INDICADOR' | translate}}"></th>
						<th ng-repeat="v in columnas" width="1%" >{{ $index+1 }}</th>
                        <th name="{{ 'CRITERIO' | translate}}"></th>
                        <th name="{{ 'APROBADO' | translate}}"></th>
                        <th name="{{ 'CUMPLE' | translate}}"></th>
						<th width="30%" name="{{ 'PORCENTAJE' | translate}}"></th>
					</tr>
    <tbody>
                    
					<tr ng-repeat="value in indicadores">
                                
 
                        <td>{{ value.codigo }} | {{ value.indicador }}</td>
                        <td ng-repeat="a in columnas"  style="background-color:{{ indicadorColumna[value.codigo][$index].color }};color:white; font-weight:bold;">
                        	{{ indicadorColumna[value.codigo][$index].total }}
                        </td>
                        
                        <td>
                        	{{ value.totalCriterio }}/{{ value.totalColumnas }}={{ value.totalCriterio / value.totalColumnas }}
                        </td>
                        <td>
                        	{{ value.sumaCriterio }}
                        </td>
                        <td>
                        	{{ value.totalCriterio==value.sumaCriterio ? 'Si' : 'No' }}
                        </td>
                        <td>
                            <div class="progress" >
                              <div class="progress-bar progress-bar-striped active progress-bar-default" role="progressbar"
                              aria-valuenow="{{ value.porciento }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ value.porciento }}%; background:{{ value.color }}">
                                {{ value.porciento }}%
                            </div></div>
						</td>					
					</tr>
    </tbody>
  </table>
</md-data-table-container>
                
            </md-content>
        </md-list>
	</md-content>
    
    
    <md-content  layout="column"  layour-align="center center"  >
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        	<md-toolbar style="background-color:#F27900">
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'CRITERIO' | translate}}</span>                                 
              </h2> 
            </md-toolbar>
            
            <md-content  ng-repeat="(key, value) in criterios" ng-if="key != 'undefined'">
            
                <md-toolbar class="md-theme-light">
                  <h2 class="md-toolbar-tools">
                    <span flex>{{ key }} | {{ value[0].lugar }}</span>                                 
                  </h2> 
                </md-toolbar>
                <md-content>
                
                <md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr ng-init="tieneHallazgo = (hallazgos[value[0].idlugarVerificacion]) ? true : false">
                  
                  	
							<th width="40%" name="No Expediente:"></th>
							<th ng-repeat="v in columnas"  width="1%" name="{{ v }}"></th>
						</tr>
                        </thead>
    <tbody>
						<tr ng-repeat="c in value" ng-init="x=$index">
                   
                        	<td width="40%">{{ c.nombre  }}</td>
			 				<td ng-repeat="a in columnas"   ng-init="y=$index+1">
			 					
                                <md-button class="md-raised"  style="width:100%; background-color: {{ marcados[key][y][x].aprobado == 1 ? '#7BE15E' : marcados[key][y][x].aprobado == 0 ? '#FF3C3C' : '#3198FF' }}; color:#FFF; font-weight:bold;">
                            {{ marcados[key][y][x].aprobado == 1 ? 'Si' : marcados[key][y][x].aprobado == 0 ? 'No' : 'N/A' }} 
                        		</md-button>
			 				</td>
							
							
						</tr>
    </tbody>
  </table>
</md-data-table-container>                                        
                
              </md-data-table>
            
                
            </md-content>
        </md-list>
	</md-content>          
  </div>