<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('SysModuloAccion')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'PERMISO' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'VER' | translate }}</span>
			</h2>
			<span flex></span>	
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	
<md-content layout="column" class="imprimir"  layour-align="center center"  >
    <md-list layout-margin class="md-whiteframe-z2" layout-align="center center"  >					
        <md-list-item >					
                <md-input-container flex >     
                	<label>{{ 'NOMBRE' | translate }}</label>
                        <input readonly  name="nombre" ng-model="dato.nombre" value="{{dato.nombre}}">
                        
                </md-input-container>
                					
                <md-input-container flex ng-init="opciones('SysModulo')" >
                	<br>
                    <md-select readonly placeholder="{{ 'MODULO' | translate }}" ng-model="dato.idModulo">
                    	<md-option value=""></md-option>
                        <md-option ng-repeat="item in options" value="{{item.id}}">{{item.nombre}}</md-option>
                    </md-select> 
             	</md-input-container>
            </md-list-item>
            
            <md-list-item >					
                <md-input-container flex > 
                	<label>{{ 'ETIQUETA' | translate }}</label>
                        <input readonly  name="etiqueta" ng-model="dato.etiqueta" >
             	</md-input-container>
            </md-list-item>
            
            <md-list-item >					
                <md-input-container flex > 
                	<label>{{ 'RECURSO' | translate }}</label>
                        <input  readonly name="recurso" ng-model="dato.recurso">
             	</md-input-container>
            </md-list-item>
            
            <md-list-item >					
                <md-input-container flex >                 	
                    <md-select readonly placeholder="{{ 'METODO' | translate }}" ng-model="dato.metodo">
                    	<md-option value=""></md-option>
                        <md-option value="delete">DELETE</md-option>
                        <md-option value="get">GET</md-option>
                        <md-option value="post">POST</md-option>
                        <md-option value="put">PUT</md-option>
                        
                    </md-select>
             	</md-input-container>
            </md-list-item>
			
		</md-list>
	</md-content>
</md-content></div>    