<md-toolbar>
	<div class="md-toolbar-tools">    
		<md-icon md-svg-icon="logo"></md-icon>  
		<h2> <a ng-href="#/">&nbsp;{{ 'APP_NOMBRE' | translate }}</a></h2>
		<span flex></span>	
	</div>
</md-toolbar>

<md-list>	
	
	<header class="nav-header" ng-controller="DatoCtrl">
	<a ng-href="{{ '#/datos/ver?id='+usuarioInfo.id; }}" class="docs-logo" href="#/">
		<img ng-src="{{usuarioInfo.avatar}}" style="width:85px; heigth:90px;border-radius:50%; margin-left:36%; margin-top:5px;">
		<h5 class="docs-logotype md-heading" style="text-align: center;">{{usuarioInfo.nombres + " " +usuarioInfo.apellidoPaterno + " " +usuarioInfo.apellidoMaterno}}</h5>
	</a>

	</header>
	<div ng-repeat="grupo in menu">
		<md-subheader class="md-primary" ng-hide="!grupo.grupo">{{ grupo.grupo }}</md-subheader>
		<md-list-item ng-repeat="item in grupo.lista" ng-class="{'md-primary': menuSelected== item.path}" ng-click="ir(item.path)">
		  	<md-icon md-svg-icon="{{ item.icono }}"></md-icon>
		    <p>{{ item.titulo }}</p>			    
		</md-list-item>
	</div>
	<md-subheader>Ayuda</md-subheader>
	<md-list-item ng-click="ir('acerca-de')" aria-label=" 'ACERCA_DE' | translate">
	  	<md-icon md-svg-icon="info"></md-icon>
	    <p translate="ACERCA_DE"></p>
	</md-list-item>

	<md-list-item ng-click="ir('manual-usuario')" aria-label=" 'MANUAL_USUARIO' | translate">
	  	<md-icon md-svg-icon="local-library"></md-icon>
	    <p translate="MANUAL_USUARIO"></p>
	</md-list-item>
	
	<md-list-item hide-gt-sm  ng-click="mostrarIdiomas($event)" aria-label=" 'CAMBIAR_IDIOMA' | translate">
	  	<md-icon md-svg-icon="language"></md-icon>
	    <p translate="CAMBIAR_IDIOMA"></p>		    
	</md-list-item>
	
	<md-list-item hide-gt-sm ng-click="logout" aria-label=" 'CERRAR_SESION' | translate">
	  	<md-icon md-svg-icon="exit-to-app"></md-icon>
	    <p translate="CERRAR_SESION"></p>		    
	</md-list-item>
</md-list>