<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools" ng-init="ver('Seguimiento')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'SEGUIMIENTO' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'VER' | translate }}</span>
			</h2>
			<span flex></span>		
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	

<md-content  layout="column"  layour-align="center center"  >
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        		
            <md-content class="md-padding">
              <md-list-item layout-wrap ng-if="!update">
              	<div  align="center" style="width:100%">
                    <md-icon md-svg-icon="today"></md-icon>
                    <span> {{dato.evaluacion.fechaEvaluacion}} </span>
           			<br />
                    <span> <strong style="font-size:.8em;">{{ dato.evaluacion.cerrado == 1 ? 'Cerrado' : 'Abierto' }}</strong> </span>
                    
                    <br />
                    <span> <strong style="font-size:.8em;">{{ 'INDICADOR' | translate}}: {{ dato.indicador.nombre  }}</strong> </span>
                  </div>
              	
              </md-list-item>
              
              
              	<md-list-item style="margin-top:-35px;"> 
                    <md-input-container flex >
                         <input type="hidden" aria-label="idCone" ng-model="dato.evaluacion.idCone" name="idCone" required>
                         <div ng-messages="forma.idCone.$error" >
                            <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>                                    
                        </div>
                    </md-input-container>
                 </md-list-item>
            </md-content>     
                 <md-content layout="column"  layour-align="center center" >
					<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
                    	<md-input-container flex >
                            <div style="text-align:center" flex>                            
                            	<h4 style="font-size:1.3em">{{ dato.evaluacion.nombre }}</h4>
                                <h5 style="font-size:1em"><md-icon md-svg-icon="star"></md-icon> {{ dato.evaluacion.clues }}</h5>
                                <p style="font-size:.5em; margin-bottom:20px;">
                                {{ dato.evaluacion.domicilio }}  <strong>CP: </strong> {{ dato.evaluacion.codigoPostal }}
                                </p>
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.7em; margin:20px;">
                                    <span flex="33.33">
                                    	<strong>{{ 'JURISDICCION' | translate }}:</strong> {{ dato.evaluacion.jurisdiccion }}
                                    </span>
                                    <span flex="33.33">
                                    	<strong>{{ 'MUNICIPIO' | translate }}:</strong> {{ dato.evaluacion.municipio }}
                                    </span>
                                    <span flex="33.33">
                                		<strong>{{ 'LOCALIDAD' | translate }}:</strong> {{ dato.evaluacion.localidad }}
                                    </span>
                                </div>                               
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.6em; margin:20px;">
                                    <span flex="50">
                                    	<md-icon md-svg-icon="business"></md-icon> {{ dato.evaluacion.tipologia }}
                                    </span>
                                    <span flex="50">
                                    	<md-icon md-svg-icon="style"></md-icon> {{ dato.evaluacion.tipoUnidad }}
                                    </span>
                                </div>
                                <md-divider ></md-divider>
                                
                                <div  style="font-size:.7em; margin-top:20px">
                                	<span class="col-xs-12">
                                		<md-icon md-svg-icon="airline-seat-flat"></md-icon><strong> Nivel CONE:</strong> {{ dato.evaluacion.nivelCone }}
                                    </span>
                                </div>
                            </div>
						</md-input-container>

                	</md-list>
				</md-content>
			  
		</md-list>
	</md-content>
    
    <md-content  layout="column"  layour-align="center center" >
		<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >
        	<md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span flex>{{ 'HISTORIAL' | translate}} {{ dato.descripcion }}</span>                                 
              </h2> 
            </md-toolbar>
            <md-content>
            	
                <md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
                        <th hide-sm name="ID" order-by="id"></th>
                        <th name="{{ 'USUARIO' | translate }}"></th>
                        <th name="{{ 'DESCRIPCION' | translate }}"></th>				
                        <th name="{{ 'CREADO' | translate }}"></th>								
                    </tr>
    </tbody>
                    
                    <tbody>
      <tr md-auto-select ng-repeat="dato in dato.seguimiento">
							
                         <td hide-sm>{{ dato.id  }}</td>
                         <td>{{ dato.usuario.nombres+' '+dato.usuario.apellidoPaterno+' '+dato.usuario.apellidoMaterno | uppercase }}</td>
                         <td>{{ dato.descripcion }}</td>
                         <td>{{ dato.creadoAl }}</td>
                    
                 </tr>
    </tbody>
  </table>
</md-data-table-container>
                </md-content>
            </md-list>
	</md-content>
</md-content></div>				