<md-toast class="md-bottom md-left" ng-if="!online" ng-include="'src/app/views/sin_conexion.html'"></md-toast>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools" >    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'NUEVO' | translate }}</span>
			</h2>
			<span flex></span>	
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	
<form role="form" name="forma"  ng-init="Alertas();ruta='Indicador'">
<md-content layout="column" class="imprimir"  layour-align="center center"  >
	<md-list layout-margin layout-align="center center" >	

            <md-list-item layout-wrap >						
                <md-input-container flex >     
                	<label>{{ 'CODIGO' | translate }}</label>
                        <input required  name="codigo" ng-model="dato.codigo" minlength="3" maxlength="25">
                        <div ng-messages="forma.codigo.$error">
                          <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                          <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                          <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                        </div>
                </md-input-container>
            					
                <md-input-container flex >     
                	<label>{{ 'NOMBRE' | translate }}</label>
                        <input required  name="nombre" ng-model="dato.nombre" minlength="3" maxlength="255">
                        <div ng-messages="forma.nombre.$error">
                          <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                          <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                          <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                        </div>
                </md-input-container>
            </md-list-item>

			<md-list-item >						
                <md-input-container flex >     
                <p>{{ 'CATEGORIA' | translate }}: <span class="radioValue">{{ dato.categoria }}</span> </p>
                <md-radio-group ng-model="dato.categoria">
                  <md-radio-button value="RECURSO"  style="float:left">{{ 'RECURSO' | translate }}</md-radio-button>
                  <md-radio-button value="CALIDAD" style="float:left"> {{ 'CALIDAD' | translate }} </md-radio-button>
                </md-radio-group>
                        
                </md-input-container>

                <md-input-container flex > 
                <span style="background: {{ dato.color }}; display:block; height:25px; width:25px; position:absolute; margin-left:0px; border-radius: 5px; border: 1px #000 solid;"></span>    
                  <label style="margin-top:-48px">{{ 'COLOR' | translate }}</label>
                    <color-picker required ng-model="dato.color" color-picker-format="HEX" name="color" style="position:relative"></color-picker>

                    <div ng-messages="forma.color.$error" style="margin-top:30px">
                      <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                    </div>
                    
                </md-input-container>

                
            </md-list-item>
			<md-divider ></md-divider>
              
			  <div class="md-sidenav-left">
              <md-data-table-toolbar ng-hide="selected.length || filter.show">
  <h2 class="md-title"><p>{{ 'ALERTA' | translate }}</p></h2>
  <div flex></div>
  
</md-data-table-toolbar>
<md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
			  			<th name="{{  'MINIMO' | translate }}"></th>
			  			<th name="{{  'MAXIMO' | translate }}"></th>
			  			<th name="{{  'COLOR' | translate }}"></th>
			  			<th ></th>			  			
			  		</tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="item in dato.indicador_alertas">
			 		
			 			
			 			<td>
              <md-input-container flex >
                <input aria-label="min{{$index}}" string-to-number type="number" min="0" max="100" ng-model="item.minimo" readonly="readonly">
              </md-input-container>
            </td>
			 			<td>
              <md-input-container flex >
                <input aria-label="max{{$index}}" string-to-number type="number" min="{{dato.indicador_alertas[$index].minimo}}" max="100" ng-model="item.maximo" ng-change="calcularMinimo($index)" required>
              </md-input-container></td>
			 			<td>
              <md-input-container flex >              
                <md-select placeholder="Color" ng-model="item.idAlerta" ng-change="getIndexOf(item.idAlerta,$index)"  ng-init="getIndexOf(item.idAlerta,$index)">
                	<md-option ng-repeat="campo in alertas" value="{{campo.id}}">{{campo.nombre}}</md-option>
                </md-select>
                </md-input-container>
			 			</td>
                        
			 			<td><span class="img-circle" style="background: {{ colorColor[$index] }}; display:block; height:25px; width:25px;"></span></td>
            <td>
              <md-button type="button" aria-label="Quitar" ng-click="quitarAlerta($index)"><md-icon md-svg-icon="delete"></md-icon></md-button>
              </td>
			 		</tr>
    </tbody>
  </table>
</md-data-table-container>
			  
				  	<md-button class="md-raised md-primary" type="button" ng-click="agregarAlerta()"><md-icon md-svg-src="check"></md-icon> {{ 'AGREGAR' | translate}}</md-button> 
				  
            
     </md-list>
</md-content>
</form>
<span ng-init="cargando = false;"></span> 
</md-content></div>