<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	<md-button class="md-fab md-fab-bottom-right" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}" >
		<md-icon md-svg-icon="add"></md-icon>
  	</md-button>
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'INDICADOR' | translate }} <md-icon md-svg-icon="chevron-right"></md-icon>  {{ 'VER' | translate }}</span>
			</h2>
			<span flex></span>	
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	

<md-content layout="column" class="imprimir" layour-align="center center" ng-init="ver('Indicador');Alertas();">
	<md-list layout-margin class="md-whiteframe-z1" layout-align="center center" >					
		<md-list-item >	
            <md-input-container flex="25">                                    
                <span class="img-circle" style="background: {{dato.color}}; display:block; height:50px; width:50px;"></span>
                    
            </md-input-container>
            
        	<md-input-container flex="25">                                    
            	<label>ID</label>
                <input readonly  name="id" ng-model="dato.id" value="{{dato.id}}">
                    
            </md-input-container>
            	
            <md-input-container flex >                                    
            	<label>{{ 'CODIGO' | translate }}</label>
                <input readonly  name="codigo" ng-model="dato.codigo" >
                    
            </md-input-container>					            
        </md-list-item>
        <md-list-item >	
        	<md-input-container flex >                                    
            	<label>{{ 'NOMBRE' | translate }}</label>
                <input readonly  name="nombre" ng-model="dato.nombre" value="{{dato.nombre}}">
                    
            </md-input-container>
            <md-input-container flex >                                    
            	<label>{{ 'CATEGORIA' | translate }}</label>
                <input readonly  name="categoria" ng-model="dato.categoria" >
                    
            </md-input-container>					
		</md-list-item>
        <md-list-item >						
            <md-input-container flex >                                    
            	<label>{{ 'CREADO' | translate }}</label>
                <input readonly  name="creadoAl" ng-model="dato.creadoAl" value="{{dato.creadoAl}}">
                    
            </md-input-container>
        						
            <md-input-container flex >                                    
            	<label>{{ 'MODIFICADO' | translate }}</label>
                <input readonly  name="modificadoAL" ng-model="dato.modificadoAl" value="{{dato.modificadoAl}}">
                    
            </md-input-container>
        </md-list-item>
        <md-list-item >						
            <md-input-container flex >          
			   
			  <div class="md-sidenav-left md-whiteframe-z2">
              <md-data-table-toolbar ng-hide="selected.length || filter.show">
  <h2 class="md-title"><p>{{ 'ALERTA' | translate }}</p></h2>
  <div flex></div>
  
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table md-progress="datos">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
			  			<th ></th>
			  			<th name="{{  'MINIMO' | translate }}"></th>
			  			<th name="{{  'MAXIMO' | translate }}"></th>
			  			<th name="{{  'COLOR' | translate }}"></th>
			  			<th ></th>			  			
			  		</tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="item in dato.indicador_alertas">			  	
			 			<td>{{ $index+1 }}</td>
			 			<td>{{item.minimo}}</td>
			 			<td>{{item.maximo}}</td>
			 			<td><md-select placeholder="Color" ng-model="item.idAlerta" ng-change="getIndexOf(item.idAlerta,$index)"  ng-init="getIndexOf(item.idAlerta,$index)">
                            	<md-option ng-repeat="campo in alertas" value="{{campo.id}}">{{campo.nombre}}</md-option>
                            </md-select>
			 			</td>
			 			<td>
                        <span class="img-circle" style="background: {{ colorColor[$index] }}; display:block; height:25px; width:25px;"></span></td>
			 		</tr>
    </tbody>
  </table>
</md-data-table-container>
			  
			</md-input-container>
        </md-list-item>
      </md-list>				
</md-content> 
</md-content></div>					